<div class="form__row{{class}}{{error}} form__row--error{{/error}}">
	{{label}}
	<div class="form__input">
		<input type="{{type}}" name="{{name}}" value="{{value}}"
			{{id}} id="{{id}}"{{/id}}
			{{length}} maxlength="{{length}}"{{/length}}
			{{placeholder}} placeholder="{{placeholder}}"{{/placeholder}} />
	</div>
	{{error_message}}
</div>