<div class="form__row  {{error}} form__row--error{{/error}}">
	<div class="form__input">
		<textarea data-url="{{url}}" name="{{name}}"{{id}} id="{{id}}"{{/id}}{{placeholder}} placeholder="{{placeholder}}"{{/placeholder}}>{{value}}</textarea>
	</div>
	{{error_message}}
</div>