{{intro}}

<section class="section  padding-t-large  padding-b-xlarge">

	<div class="wrap">

		<!--

			#1

		-->
		
		<div class="text  text-default  text-strong  color-main-text  margin-v-half">
			Information about the controller
		</div>

		<div class="text  text-small  margin-l">
			<p>Our name is SIA ZETA INDUSTRY, registration number: 40203137013, legal address: Rīga, Gustava Zemgala gatve 74A, LV-1039.<br/>
			You can reach us on the phone at +371 29 166 224 or by sending an e-mail to info@zetaindustry.eu</p>
		</div>

		<!--

			#2

		-->
		
		<div class="text  text-default  text-strong  color-main-text  margin-v-half">
			Contact information for communication on personal data protection
		</div>

		<div class="text  text-small  margin-l">
			<p>If you have any questions regarding this notice or processing of your personal data, you can contact us via the following e-mail address: info@zetaindustry.eu.</p>
		</div>

		<!--

			#3

		-->
		
		<div class="text  text-default  text-strong  color-main-text  margin-v-half">
			General description of how we process personal data
		</div>

		<div class="text  text-small  margin-l">

			<p>This notice describes how we process personal data of our customers, cooperation partners, representatives/contact persons of the customers and cooperation partners, participants of raffles and lotteries, visitors of the website, buildings and facilities and other persons that may come into our possession in the course of our business operations.</p>

			<p>This is the latest edition of this notice. We reserve the right to amend and update the notice as necessary.</p>

			<p>The aim of this notice is to give you a general idea of our personal data processing activities and their purposes but please be advised that other documents (for example, service agreements, cooperation agreements) may provide additional information about processing of your personal data.</p>

			<p>For your information, the personal data processing terms included in this notice apply only to processing of personal data of natural persons.</p>

			<p>We are aware that you value your personal data and will process them in compliance with the confidentiality requirements, taking care of security of your personal data in our possession.</p>

		</div>

		<!--

			#4

		-->
		
		<div class="text  text-default  text-strong  color-main-text  margin-v-half">
			For what purposes we process your personal data and what are the legal grounds for personal data processing?
		</div>

		<div class="text  text-small  margin-l">

			<p><strong>We will be processing your personal data only for predetermined legitimate purposes, including:</strong></p>

			<ul>

				<li>
					
					<p>Initiation and provision of services as well as performing and securing the obligations under the agreement (incl. the cooperation agreement)</p>

					<p>For this purpose we would also need to identify you, to ensure appropriate calculation of payments and the payment process, to contact you regarding the matters concerning the provision of service and/or performance of the agreement (incl. for sending invoices) and, in certain cases, to ensure collection of outstanding payments.</p>

					<p>For this purpose and the sub-purposes indicated above we might need at least the following personal data of the customer, the contact person of the customer and/or cooperation partner: name, surname, personal ID number, address, bank account number, telephone number, e-mail address.</p>

					<p class="color-main-text"><strong>The main applicable legal grounds for attaining those purposes are:</strong></p>

					<ul>

						<li>entering into an agreement with the data subject and the performance of the agreement (Article 6.1 (b) under the Genera Data Protection Regulation[1]);</li>

						<li>compliance with a legal obligation (Article 6.1 (c) under the Genera Data Protection Regulation);</li>

						<li>legitimate interests pursued by the controller (Article 6.1 (f) under the Genera Data Protection Regulation), for example, identifying you as a customer, contact person of a customer and/or cooperation partner, ensuring communication with you.</li>

					</ul>

				</li>

				<li>

					<p>Compliance with the requirements under laws and regulations regarding the provision of services or the requirements under other laws and regulations</p>

					<p>For this purpose we would need to comply with the requirements of the laws and regulations governing the construction industry, as well the requirements under the Law on Accounting, the requirements under the Archives Law and the requirements under other laws and regulations.</p>

					<p>For this purpose we might need to process the following personal data of the customer, the contact person of the customer and/or cooperation partner: name, surname, personal ID number, address and the data of the working time records for the employees of the cooperation partner working at construction sites.</p>

					<p class="color-main-text"><strong>The main applicable legal grounds for attaining those purposes are:</strong></p>

					<ul>

						<li>compliance with a legal obligation (Article 6.1 (c) under the Genera Data Protection Regulation).</li>

					</ul>

				</li>

				<li>

					<p>Marketing activities</p>
					
					<p>For this purpose we might be sending you commercial communications, ensuring your participation in the lotteries and/or raffles organized by us, as well as publishing the materials about the public events that we had organized.</p>

					<p>For this purpose we might need at least the following personal data of the customer, the contact person of the customer and/or cooperation partner: name, surname, telephone number, e-mail address.</p>
					
					<p class="color-main-text"><strong>The main applicable legal grounds for attaining those purposes are:</strong></p>

					<ul>

						<li>consent of the data subject (Article 6.1 (a) under the Genera Data Protection Regulation);</li>

						<li>entering into an agreement with the data subject and the performance of the agreement (Article 6.1 (b) under the Genera Data Protection Regulation);</li>
						
						<li>legitimate interests pursued by the controller (Article 6.1 (f) under the Genera Data Protection Regulation).</li>

					</ul>

				</li>

				<li>

					<p>Prevention of threats to security, property interests and ensuring other significant legitimate interests – ours or those of third parties For this purpose we would need to carry out video surveillance of our territory, buildings and other properties; to use personal data processors to ensure different functions; if required, to disclose information to courts and other public authorities; to exchange information within a group of companies; to exercise the rights granted under the laws and regulations to secure our legitimate interests.</p>

					<p>For this purpose we might need at least the following personal data of the customer, the contact person of the customer and/or cooperation partner: name, surname, personal ID number, the person’s appearance (photo), location and time, as well as other data as necessary.</p>

					<p class="color-main-text"><strong>The main applicable legal grounds for attaining those purposes are:</strong></p>

					<ul>

						<li>legitimate interests pursued by the controller (Article 6.1 (f) under the Genera Data Protection Regulation), for example, for the purposes of detecting criminal offenses, ensuring recovery of damages, preserving the evidence.</li>

					</ul>

				</li>

				<li>

					<p>Ensuring appropriate provision of services</p>
					
					<p>For this purpose we would need to maintain and upgrade technical systems and IT infrastructure, to use technical and organizational solutions that may make use of your personal data (for example, through use of cookies) in order to ensure appropriate provision of services.</p>
					
					<p class="color-main-text"><strong>The main applicable legal grounds for attaining those purposes are:</strong></p>

					<ul>

						<li>legitimate interests pursued by the controller (Article 6.1 (f) under the Genera Data Protection Regulation).</li>

					</ul>

				</li>

			</ul>

		</div>

		<!--

			#5

		-->
		
		<div class="text  text-default  text-strong  color-main-text  margin-v-half">
			Who may gain access to your personal data?
		</div>

		<div class="text  text-small  margin-l">
			
			<p>We are taking appropriate measures to process your personal data in accordance with the applicable laws and regulations and to make sure that your personal data will not be accessed by any third parties who do not have proper legal grounds for processing your personal data.</p>

			<p class="color-main-text"><strong>If and when necessary, your personal data may be accessed by:</strong></p>

			<ul>

				<li>our employees and the persons specifically authorized to do so where this is required for performance of their work responsibilities;</li>

				<li>personal data processors in line with the services they provide and only to the extent required;</li>

				<li>public and municipal authorities in the cases specified in the laws and regulations, for example, the law enforcement authorities, tax authorities, sworn bailiffs;</li>

				<li>third persons after thorough assessment whether there are proper legal grounds for the data transfer, for example, debt collectors, courts, out-of-court dispute resolution bodies, bankruptcy or insolvency administrators, third parties maintaining registers (for example, the Population Register, the Register of Debtors, etc.).</li>

			</ul>

		</div>

		<!--

			#6

		-->
		
		<div class="text  text-default  text-strong  color-main-text  margin-v-half">
			What cooperation partners in personal data processing or personal data processors do we select?
		</div>

		<div class="text  text-small  margin-l">

			<p>We are taking appropriate measures to make sure that your personal data are processed, protected and transferred to the processors of the data in accordance with the applicable laws and regulations. We select personal data processors with due care and assess the need for the data transfer and the amount of the data to be transferred when transferring the data. We comply with the requirements for the confidentiality and secure processing of the personal data when transferring the data to the processors.</p>

			<p class="color-main-text"><strong>At present we can cooperate with the following categories of the personal data processors:</strong></p>

			<ul>
				<li>outsourced accountants, auditors, financial management and legal advisers;</li>
				<li>owner/developer/technical maintainer of the IT infrastructure/database;</li>
				<li>other parties involved in ensuring provision of our services.</li>
			</ul>

			<p>Personal data processors may change time from time, and this document will then be amended accordingly.</p>

		</div>

		<!--

			#7

		-->
		
		<div class="text  text-default  text-strong  color-main-text  margin-v-half">
			Are your personal data being transferred outside the European Union (EU) or the European Economic Area (EEA) countries?
		</div>

		<div class="text  text-small  margin-l">

			<p>We do not transfer the data to any countries outside the European Union or the European Economic Area.</p>

		</div>

		<!--

			#8

		-->
		
		<div class="text  text-default  text-strong  color-main-text  margin-v-half">
			For how long will we be storing your personal data?
		</div>

		<div class="text  text-small  margin-l">

			<p>Your personal data will be stored as long as required for the relevant personal data processing purposes and under the applicable laws and regulations.</p>

			<p>When assessing the personal data storage period, we take into account the requirements of the effective laws and regulations, the aspects of the performance of the contractual obligations, your instructions (e.g.., in case of consent) and our legitimate interests. When your personal data are no longer required for the specific purpose, we will delete or destroy them.</p>

			<p class="color-main-text"><strong>The most common personal data storage periods are listed below:</strong></p>

			<ul>

				<li>the personal data required for the performance of the contractual obligations will be stored until the completion of the contract and expiry of other storage periods (see below);</li>

				<li>the personal data that must be stored to comply with the requirements under the laws and regulations will be stored for the periods specified in the relevant laws and regulations, for example, the Law on Accounting requires that the source documents shall be stored until the date they are needed to establish the commencement of each business transaction and to ensure its traceability but for no less than five years;</li>

				<li>the data needed to prove the performance of our obligations will be stored until the expiry of the general statute of limitations for claims in accordance with the statutes of limitations established in the laws and regulations – 10 years under the Civil Law, 3 years under the Commercial Law and other periods, considering also the time limits for bringing claims established under the Civil Procedure Law.</li>

			</ul>

		</div>

		<!--

			#9

		-->
		
		<div class="text  text-default  text-strong  color-main-text  margin-v-half">
			What rights do you as a data subject have regarding the processing of your personal data?
		</div>

		<div class="text  text-small  margin-l">

			<p class="color-main-text"><strong>Updating of personal data</strong></p>

			<p>In case of changes in the personal data you have provided to us, for example, the change of the personal ID number, communication address, telephone number or e-mail address, we request you to contact us and supply the updated data so that we could attain the relevant purposes of the personal data processing.</p>

			<p class="color-main-text"><strong>Your rights to access your personal data and rectify them</strong></p>

			<p>Under the provisions of the Genera Data Protection Regulation you have the right to demand from us access to your personal data in our possession, to demand their rectification, deletion, processing restriction, to object to processing of your data, as well as the right to data portability in the cases and under the procedure specified in the Genera Data Protection Regulation.</p>

			<p>The company respects your rights to access your personal data and to control them. Therefore, upon receiving your request, we will reply to it within the period established under the laws and regulations (usually within a month, unless the request is specific and longer time is needed to prepare the reply) and, where possible, will rectify or delete them, as appropriate.</p>

			<p class="color-main-text"><strong>You can obtain the information about your personal data in our possession or to exercise other rights you have as a data subject under either of the procedures described below:</strong></p>

			<ul>
				<li>by submitting the relevant application by mail, mailing it to us to the address: Rīga, Gustava Zemgala gatve 74A, LV-1039</li>
				<li>by submitting the relevant application via e-mail, sending it to our e-mail address: info@zetaindustry.eu, preferably signed with a secure electronic signature.</li>
			</ul>

			<p>Having received your application, we will review its content and the possibility of identifying you. Depending on the situation, we reserve the right to request from you additional identification to make sure that your data remain secure and are disclosed to the appropriate person.</p>

			<p class="color-main-text"><strong>Withdrawal of consent</strong></p>

			<p>If your personal data processing is based on your consent, you have the right to withdraw your consent at any time, and we will stop processing your personal data for the purpose that you had given your consent to earlier. However, please be advised that the withdrawal of consent cannot affect processing of personal data that is required under the laws and regulations or is based on an agreement, our legitimate interests or other grounds for legal data processing prescribed in the laws and regulations.</p>

			<p>You can also object to processing of your personal data, if personal data processing is based on legitimate interests or is being used for marketing purposes (for example, sending commercial communications or for participation in a raffle).</p>

		</div>

		<!--

			#10

		-->
		
		<div class="text  text-default  text-strong  color-main-text  margin-v-half">
			To whom can you complain about the matters related to personal data processing?
		</div>

		<div class="text  text-small  margin-l">

			<p>If you have any questions or objections in relation to our processing of your personal data, we suggest that you should contact us first.</p>

			<p>If you think that our mutual attempt to solve the problem has failed and you believe that we are still violating your right to protection of personal data, you have the right to lodge a complaint with the Data State Inspectorate. You will find the forms for lodging a complaint with the Data State Inspectorate and other related information on the website of the Data State Inspectorate (http://www.dvi.gov.lv/lv/datu-aizsardziba/privatpersonam/iesniegumu-paraugi/).</p>

		</div>

		<!--

			#11

		-->
		
		<div class="text  text-default  text-strong  color-main-text  margin-v-half">
			Why do you have to provide us with your personal data?
		</div>

		<div class="text  text-small  margin-l">

			<p>We collect your information mainly for the performance of the contractual obligations, compliance with our legal obligations and the pursuit of our legitimate interests. In these cases we need to collect certain information to attain specific purposes, therefore the failure to provide such information may jeopardize commencement of a business relationship or performance of the agreement. If the collection of the data is not mandatory but those data may help to improve the service or to propose to you better agreement terms and/or offers, upon the collection of the data we will indicate that the data had been supplied on a voluntary basis.</p>

		</div>

		<!--

			#12

		-->
		
		<div class="text  text-default  text-strong  color-main-text  margin-v-half">
			How do we obtain your personal data?
		</div>

		<div class="text  text-small  margin-l">

			<p><strong>We can obtain your personal data in any of the manners described below:</strong></p>

			<ul>

				<li>we get the data from you during the process of entering into a mutual agreement;</li>
				
				<li>if we enter into an agreement with any third party who has named you as its contact person and/or representative;</li>
				
				<li>from you when you submit to us any application or contact us by e-mail or phone;</li>
				
				<li>from you when you register for our services online;</li>
				
				<li>from the website www.zetaindustry.eu through use of cookies;</li>
				
				<li>from the databases of third parties in certain cases, for example, in order to assess your borrowing capacity we may obtain data from third parties for the purpose;</li>
				
				<li>from the video surveillance records when appropriate.</li>

			</ul>

		</div>

		<!--

			#13

		-->
		
		<div class="text  text-default  text-strong  color-main-text  margin-v-half">
			Are your personal data being used in automated decision-making?
		</div>

		<div class="text  text-small  margin-l">

			<p>We do not use your data in automated decision-making.</p>

		</div>

	</div>

</section>