/* --------------------------------- *\

	Helpers
	
\* --------------------------------- */

/* --------------------------------- *\

	No scroll
	
\* --------------------------------- */

body.no-scroll {
    overflow: hidden;
}

/* --------------------------------- *\

	Positioning
	
\* --------------------------------- */

.relative {
	position: relative;
}

.absolute {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.off-screen {
	position: absolute;
	left: -10000px;
}

/* --------------------------------- *\

	Background
	
\* --------------------------------- */

.bg-cover {
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

/* --------------------------------- *\

	Borders
	
\* --------------------------------- */

.border {
	border-width: 1px;
	border-style: solid;
}

.border-t { border-top-width: 1px; border-top-style: solid; }
.border-b { border-bottom-width: 1px; border-bottom-style: solid; }
.border-r { border-right-width: 1px; border-right-style: solid; }
.border-l { border-left-width: 1px; border-left-style: solid; }

/* --------------------------------- *\

	Truncate string
	
\* --------------------------------- */

.truncate {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* --------------------------------- *\

	For css animations
	
\* --------------------------------- */

.no-flick {
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

/* --------------------------------- *\

	Line break
	
\* --------------------------------- */

.line-break {
	display: block;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
	.line-break {
		display: inline;
	}
}


/* --------------------------------- *\

	Debug
	
\* --------------------------------- */

.debug {

	.header, .logo, .nav {	
		background: rgba(255, 0, 0, .1);
	}
	
	.footer {
		background: rgba(0, 0, 255, .1);
	}

	.home {
		border: 1px solid red;
	}

	.home__content, .content, .about__col {
		border: 1px solid;
	}

}




