/* --------------------------------- *\

	Basic text stuff
	
\* --------------------------------- */

:root {

	// fonts
	--font-title: 'Montserrat', serif;
	--font-main: 'Raleway', sans-serif;

	// bold weight
	--bold: 700;

	// margin
	--text-margin: 1.35rem;

	// sizes
	--title-xlarge: 2.5em;
	--title-xlarge-line: 1.25em;
	--title-large: 2em;
	--title-large-line: 1.25em;
	--title-default: 1.5em;
	--title-default-line: 1.25em;
	--title-small: .85em;
	--title-small-line: 1.25em;
	--title-xsmall: .75em;
	--title-xsmall-line: 1.35em;

	--text-xlarge: 4em;
	--text-xlarge-line: 1.15em;
	
	--text-large: 3em;
	--text-large-line: 1.15em;
	
	--text-medium: 1.5em;
	--text-medium-line: 1.65em;
	
	--text-default: 1em;
	--text-default-line: 1.65em;

	--text-small: .8em;
	--text-small-line: 1.65em;

	--text-xsmall: .6em;
	--text-xsmall-line: 1.65em;

}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
	:root {
		--text-xlarge: 3.5em;
	}
}

html,
body,
select,
input,
textarea {
	font-family: var(--font-main);
	line-height: 100%;
	-webkit-text-size-adjust: 100%;
}

// underline
a {
	text-decoration: none;
	color: var(--color-link);
}

// desktop hovers
@media (pointer: fine) {
	a:hover {
		text-decoration: underline;
	}
}

em {
	font-style: italic;
}

.text-upper {
	text-transform: uppercase;
}

.text-strong,
strong {
	font-weight: var(--bold);
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

// secondary font family
.font-secondary {
	font-family: var(--font-title);
}

// define title font
h1, h2, h3,
.title-xlarge,
.title-large,
.title-default,
.title-small {
	font-family: var(--font-title);
}





/* --------------------------------- *\

	Text Container
	
\* --------------------------------- */

// text mixins etc.
@import "text";

// size without the units
$size: 1.25;

// text wraper
.text {
	font-size: #{$size}rem;

	// text margin manual
	&-margin {
		margin-bottom: var(--text-margin);
	}

	// text sizes
	@include text_size('title-xlarge', $size);
	@include text_size('title-large', $size, 'h1');
	@include text_size('title-default', $size, 'h2');
	@include text_size('title-small', $size, 'h3');
	@include text_size('title-xsmall', $size);

	@include text_size('text-default', $size, 'p, li');
	@include text_size('text-medium', $size);
	@include text_size('text-small', $size);
	@include text_size('text-xsmall', $size);
	@include text_size('text-large', $size);
	@include text_size('text-xlarge', $size);

	// set the top margins
	@include set_top_margins('p', var(--text-margin));
	@include set_top_margins('ul', var(--text-margin));
	@include set_top_margins('ol', var(--text-margin));
	@include set_top_margins('h3', var(--text-margin));
	@include set_top_margins('h2', var(--text-margin));
	@include set_top_margins('h1', var(--text-margin));

	ul, ol {
		margin-left: 2rem;
	}

	li + li {
		margin-top: .25em;
	}

	ul > li {
		list-style-type: disc;
	}

	ol > li {
		list-style-type: decimal;
	}

}





/* --------------------------------- *\

	List style
	
\* --------------------------------- */

// list
.text > ul > li {
	list-style-type: none;
	position: relative;

	// line
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: -2rem;
		top: .5em;
		width: .8rem;
		height: .8rem;
		border-radius: 50%;
		border: 2px solid var(--color-main);
	}

	+ li {
		margin-top: 1em;
	}

	// inner list

	> ul {
		margin-left: 4rem;

		> li {
			list-style-type: none;
			position: relative;

			+ li {
				margin-top: 1em;
			}

			// line
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -1.5rem;
				top: .6em;
				width: .5rem;
				height: .5rem;
				border-radius: 50%;
				background: var(--color-main);
			}
		}
	}
}

.text.title-small--contacts {
	line-height: 2.5em;
}

.text.color-white-text {
	a { color: var(--color-white); }
}




