/* --------------------------------- *\

	Layout definitions
	
\* --------------------------------- */

:root {
	--header-height: 7rem;
	--wrap: 90rem;
	--wrap-small: 76rem;
	--wrap-mobile: calc(100% - 6rem);

	// margin
	--margin-default: 2.000rem;
	--margin-medium: 3.000rem;
	--margin-xlarge: 6.000rem;
	--margin-large: 4.000rem;
	--margin-half: 1.000rem;
	--margin-small: 0.500rem;
}

html,
body {
	width: 100%;
	height: 100%;
}





/* --------------------------------- *\

	Margins and padding
	
\* --------------------------------- */

// margin file
@import "margins";

// define margin sizes
$marginSizes: (
	default : var(--margin-default),
	medium  : var(--margin-medium),
	large   : var(--margin-large),
	xlarge  : var(--margin-xlarge),
	small   : var(--margin-small),
	half 	: var(--margin-half)
);

@include margins('margin', $marginSizes);
@include margins('padding', $marginSizes);





/* --------------------------------- *\

	Size
	
\* --------------------------------- */

// default

html, body {
	font-size: 16px;
}

// desktops

@media (min-width: 1024px) and (max-width: 1200px) {
	html, body { font-size: 12px; }
}

@media (min-width: 1201px) and (max-width: 1440px) {
	html, body { font-size: 14px; }
}

@media (min-width: 1441px) and (max-width: 1600px) {
	html, body { font-size: 16px; }
}

@media (min-width: 1720px) and (max-aspect-ratio: 13/5) {
	html, body { font-size: 18px; }
}

@media (min-width: 1920px) and (max-aspect-ratio: 3/1) {
	html, body { font-size: 20px; }
}

@media (min-width: 1920px) and (max-aspect-ratio: 13/5) {
	html, body { font-size: 22px; }
}

// mobile devices

@media (min-width: 568px) and (max-width: 1023px) {
	html, body { font-size: 1vw; }
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
	html, body { font-size: 2.75vw; }
}





/* --------------------------------- *\

	Wrap
	
\* --------------------------------- */

.wrap {
	width: calc(100% - 10rem);
	max-width: var(--wrap);
	margin-right: auto;
	margin-left: auto;

	&--small {
		max-width: var(--wrap-small);
	}
}

.spacing {
	height: var(--header-height);
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	.wrap {
		width: var(--wrap-mobile);
		max-width: none;
	}

}





/* --------------------------------- *\

	section
	
\* --------------------------------- */

// main section container
.section {
	width: 100%;
	display: block;
}

// full height
.section--full-height {
	min-height: 100%;
}





/* --------------------------------- *\

	Cols

\* --------------------------------- */

// main container
.cols {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	&--center {
		align-items: center;
	}
}

// one col 100% width
.cols--1 > .col {
	width: 100%;
}

// list with four items
.cols--2 {
	--margin: var(--margin-medium);

	// col
	> .col {
		margin-top: var(--margin);
		margin-right: var(--margin);
		width: calc(50% - var(--margin) * 1 / 2);

		// clear left margin
		&:nth-child(2n),
		&:last-child {
			margin-right: 0;
		}

		// clear top margins on first elements
		&:nth-child(1), &:nth-child(2) {
			margin-top: 0;
		}
	}
}

// list with four items
.cols--3-2 {
	> .col {
		width: calc(58% - var(--margin) * 1 / 2);
		&:nth-child(2) { width: calc(42% - var(--margin) * 1 / 2); }
	}
}

// list with four items
.cols--2-3 {
	> .col {
		width: calc(42% - var(--margin) * 1 / 2);
		&:nth-child(2) { width: calc(58% - var(--margin) * 1 / 2); }
	}
}

// list with three items
.cols--3 {
	--margin: var(--margin-large);

	// col
	> .col {
		margin-top: var(--margin);
		margin-right: var(--margin);
		width: calc(100%/3 - var(--margin) * 2 / 3 - .025vw);

		// clear left margin
		&:nth-child(3n),
		&:last-child {
			margin-right: 0;
		}

		// clear top margins on first elements
		&:nth-child(-n+3) {
			margin-top: 0;
		}
	}

	// update for contacts in the footer
	&-contacts {
		width: 80%;

		// smaller top margin
		> .col { margin-top: var(--margin-default); }
	}
}

// list with three items
.cols--4,
.cols--4-mob-1 {
	--margin: var(--margin-medium);

	// col
	> .col {
		margin-top: var(--margin);
		margin-right: var(--margin);
		width: calc(100%/4 - var(--margin) * 3 / 4);

		// clear left margin
		&:nth-child(4n),
		&:last-child {
			margin-right: 0;
		}

		// clear top margins on first elements
		&:nth-child(-n+4) {
			margin-top: 0;
		}
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// transform to one col
	.cols--2,
	.cols--3,
	.cols--3-2,
	.cols--2-3,
	.cols--4-mob-1 {
		--margin: var(--margin-medium);

		> .col {
			margin-top: var(--margin);
			margin-right: 0;
			width: 100%;

			// reset top margin for the 2nd
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				margin-top: var(--margin);
			}
		}

	}

	// reset width on second col
	.cols--3-2,
	.cols--2-3 {
		> .col:nth-child(2) {
			width: 100%;
		}
	}

	// transform to two cols
	.cols--4 {
		--margin: var(--margin-medium);

		// col
		> .col {
			margin-top: var(--margin);
			margin-right: var(--margin);
			width: calc(50% - var(--margin) * 1 / 2);

			// clear left margin
			&:nth-child(2n), &:last-child { margin-right: 0; }

			// add back margins
			&:nth-child(-n+4) { margin-top: var(--margin); }

			// clear top margins on first elements
			&:nth-child(1), &:nth-child(2) { margin-top: 0; }
		}

	}

}




