/* --------------------------------- *\

	Buttons

\* --------------------------------- */

// define button
:root {
	--button-height: 4rem;
	--button-height-small: 3rem;
	--button-text-size: 1rem;
	--button-padding: 3em;
	--button-padding-small: 2em;

	// default border radius
	--border-radius: 7px;
}

// default button
.button {
	// size
	height: var(--button-height);
	line-height: var(--button-height);
	font-size: var(--button-text-size);
	// style
	letter-spacing: 0;
	font-weight: 700;
	border-radius: var(--border-radius);;
	// clear style
	width: 100%;
	display: block;
	text-align: center;
	padding: 0;
	border: 0;
	outline: 0;
	cursor: pointer;
	text-decoration: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	white-space: nowrap;
	// colors
	color: var(--color-white);

    // inline button
    &--inline {
		display: inline-block;
		width: auto;
		padding: 0 var(--button-padding);
	}

	&--small {
		height: var(--button-height-small);
		line-height: var(--button-height-small);
		padding: 0 var(--button-padding-small);
	}

	// colors
	&--main { background: var(--color-main); }
	&--dark { background: var(--color-dark); }
	&--comp { background: var(--color-comp); color: var(--color-dark); }
	&--white { background: var(--color-white); color: var(--color-dark); }
	&--gray { background: var(--color-gray); color: var(--color-dark); }
}

// clear underline for link buttons
a.button {
	text-decoration: none;
}

// desktop hovers
@media (pointer: fine) {
	.button:hover {
		background: var(--color-dark-hover);
	}
	.button--main:hover {
		background: var(--color-main-hover);
	}
	.button--white:hover {
		background: var(--color-gray-dark);
	}
	.button--gray:hover {
		background: var(--color-gray-dark);
	}
	.button--comp:hover {
		background: var(--color-comp-hover);
	}
}





/* --------------------------------- *\

	Images

\* --------------------------------- */

.image-block {
	width: 100%;
	height: auto;
	display: block;
}





/* --------------------------------- *\

	Hashtags

\* --------------------------------- */

// main container
.hashtags {
	display: flex;
	flex-wrap: wrap;

	// white hashtags
	&--white {

		// update
		.hashtag {
			color: var(--color-dark);

			// background
			&:before {
				background: var(--color-white);
				opacity: 1;
			}
		}

	}

	// gray hashtags
	&--gray {

		// update
		.hashtag {
			color: var(--color-dark);

			// background
			&:before {
				background: var(--color-gray-dark);
				opacity: 1;
			}
		}

	}
}

// elements
.hashtag {
	color: var(--color-white);
	font-size: .9rem;
	line-height: 2rem;
	margin-right: .5rem;
	padding: 0 .8rem;
	margin-top: .5rem;
	position: relative;

	// text
	> span {
		position: relative;
	}

	// clear last margin
	&:last-child {
		margin-right: 0;
	}

	// background
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		border-radius: var(--border-radius);
		background: var(--color-dark);
		position: absolute;
		top: 0;
		left: 0;
		opacity: .54;
	}
}





/* --------------------------------- *\

	Title arrow stuff

\* --------------------------------- */

// title with the < > bracket stuff
.title {
	display: inline-flex;
	align-items: center;

	// brackets < >
	> span:nth-child(1) {
		display: inline-flex;
		align-items: center;

		// bracket svg
		> svg {
			width: 2.75rem;
			height: auto;
			display: block;
			margin-left: 1.5rem;
			margin-right: 1.5rem;
			fill: var(--color-main-light);

			// flip the first one
			&:first-child {
				transform: rotate(-180deg);
				margin-left: 0;
			}
		}
	}
}

// left margin to algin text with title
.title-margin-left {
	margin-left: calc(2.75rem + 1.5rem); // icon width + margin
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// rearange elements
	.title {
		display: flex;
		flex-direction: column;
		text-align: center;
		
		// brackets < >
		> span:nth-child(1) {

			// bracket size update
			> svg {
				width: 2.25rem;
				margin-left: 1.25rem;
				margin-right: 1.25rem;

				// remove margins
				&:first-child { margin-left: 0; }
				&:last-child { margin-right: 0; }
			}
		}

		// add margin if text was inline on desktop
		> span + span {
			margin-top: 2rem;
		}
	}

	// clear the left margin
	.title-margin-left {
		margin-left: 0;
	}
	
}





/* --------------------------------- *\

	Zeta Check

\* --------------------------------- */

// title with the < > bracket stuff
.zeta-check {
	width: 7rem;
	height: auto;
	display: block;
}





/* --------------------------------- *\

	Cookies

\* --------------------------------- */

.cookies {
	background: var(--color-dark);
	color: var(--color-white);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1001; // +1 from header
	display: flex;
	align-items: center;

	&__buttons {
		margin-left: auto;
	}

	.button {
		padding-right: 4rem;
		padding-left: 4rem;
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
	
	.cookies {

		.text {
			font-size: .75em;
		}

		&__buttons {
			margin-left: 0;
			margin-left: 2rem;
		}

		.button {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

}




