/* --------------------------------- *\

	Card defaults

\* --------------------------------- */

.card {
	position: relative;
	border-radius: var(--border-radius);

	// roudn icon box
	&__icon {
		width: 65%;
		border-radius: 50%;
		position: relative;

		// height
		&:before {
			content: '';
			display: block;
			padding-top: 100%;
		}

		// icon
		> img {
			width: 60%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// linkedin profile
	&__social {
		display: flex;
		align-items: center;
		justify-content: center;

		> svg {
			fill: var(--color-main);
			width: 1rem;
			height: 1rem;
			margin-right: .5rem;
		}
	}

	// full width and height link over card
	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* --------------------------------- *\

	Card 1

\* --------------------------------- */

.card--1 {
	background: var(--color-gray);
	padding-bottom: 3rem;

	> svg {
		fill: var(--color-main-light);
		width: 1.5rem;
		height: 1.5rem;
		position: absolute;
		bottom: 2rem;
		right: 2rem;
	}
}

.color-gray-bg {
	.card--1 {
		background: var(--color-white);
	}
}

/* --------------------------------- *\

	Card 2

\* --------------------------------- */

.card--2 {
	background: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--margin-default);

	> img {
		width: 60%;
		height: auto;
		display: block;
		margin-bottom: 1rem;
	}

	&-arrow {
		background: var(--color-gray-dark);
		position: relative;

		// arrow on the right
		&:after {
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: "";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(0, 0, 0, 0);
			border-left-color: var(--color-gray-dark);
			border-width: 1rem;
			margin-top: -1rem;
		}
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	.card--2 {

		// arrow on the bottom
		&-arrow {
			background: var(--color-gray-dark);
			position: relative;

			// arrow on the bottom
			&:after {
				top: 100%;
				left: 50%;
				border-left-color: transparent;
				border-top-color: var(--color-gray-dark);
				margin-left: -1rem;
				margin-top: 0;
			}
		}

	}

}

/* --------------------------------- *\

	Card 3

\* --------------------------------- */

.card--3 {
	background: var(--color-dark);
	display: flex;
	color: var(--color-white);

	// icon box
	> div:first-child {
		width: 48%;
		border-radius: var(--border-radius);
		display: flex;
		justify-content: center;
		align-items: center;

		// size
		&:before {
			content: '';
			display: block;
			padding-top: 100%;
		}

		// image size
		> .image {
			width: 76%;
		}
	}

	// text box
	> div:last-child {
		flex: 1;

		> a {
			position: absolute;
			width: 3rem;
			height: 3rem;
			background: var(--color-gray-dark);
			display: flex;
			justify-content: center;
			align-items: center;
			bottom: 0;
			right: 0;

			> svg {
				width: 1rem;
				height: 1rem;
			}
		}
	}

	&-gray {
		background: var(--color-gray);
		color: var(--color-text);
	}

	// update for team
	&-vertical {
		flex-direction: column;
		background: var(--color-white);
		color: var(--color-dark);
		box-shadow: 0px 14px 43px 0px rgba(0, 0, 0, 0.1);

		// image box
		> div:first-child {
			width: 100%;
			background: var(--color-gray-dark);
		}

		// blue gradien over image
		.image__gradient {
			background: linear-gradient(325deg, rgba(28,30,69, 0.8) 0%, rgba(0,0,0,0) 75%);
		}
	}

	// some stuff for team
	&-team {

		// image box
		> div:first-child {
			position: relative;
			overflow: hidden;
		}

		// update font sizes
		.text-small { font-size: .9em; }
		.title-small { font-size: 1.25em; }

		// the grauph in bg
		svg.absolute {
			fill: var(--color-white);
			width: 210%;
			height: 210%;
			top: 100%;
			left: 95%;
			transform: translate(-50%, -50%);
			opacity: .4;
		}
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// some updates
	.card--3 {

		// update padding
		.padding-all-medium {
			padding: var(--margin-default);
		}

		// update font sizes for team card
		&-team {
			.text-small { font-size: .8em; }
			.title-small { font-size: 1.25em; }
			.margin-t-small { margin-top: .75rem; }
		}
	}

}

/* --------------------------------- *\

	Card 4

\* --------------------------------- */

.card--4 {

	// image container
	> .image {
		background: var(--color-white);
		width: 60%;
		margin-right: auto;
		margin-left: auto;
		box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.05);
	}

}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// image container
	.card--4 > .image {
		width: 100%;
		margin-bottom: 2rem;
	}

}

/* --------------------------------- *\

	Card view all >

\* --------------------------------- */

// container
.card--view-all {
	background: var(--color-gray);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--margin-medium);

	// round arrow icon
	> svg {
		width: 3rem;
		height: 3rem;
		fill: var(--color-dark);
	}
}

.color-gray-bg {
	.card--view-all {
		background: var(--color-gray-dark);
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// chnage direction
	.card--view-all {
		flex-direction: row;

		// change margin to right
		.margin-b {
			margin-bottom: 0;
			margin-right: auto;
		}
	}

}




