/* --------------------------------- *\

	Block with grapchic
	
\* --------------------------------- */

// austra block
.block-bg-graphic {
	overflow: hidden;

	// background graphic
	> svg {
		position: absolute;
		bottom: -7rem;
		right: -10rem;
		width: 40rem;
	}

	// gray bg with white graph
	&--gray {
		background: var(--color-gray);
		> svg { fill: var(--color-white); }
	}

	// gray bg with darker graph
	&--gray-2 {
		background: var(--color-gray);
		> svg {
			fill: var(--color-gray-dark);
			opacity: .5;
		}
	}

	// gray bg with darker graph
	&--gray-3 {
		background: var(--color-gray);
		> svg {
			fill: var(--color-gray-dark);
			opacity: .5;
		}

		// background graphic
		> svg:nth-child(1) {
			position: absolute;
			top: -17rem;
			left: -9rem;
			width: 30rem;
		}

		// background graphic
		> svg:nth-child(2) {
			position: absolute;
			top: -15rem;
			right: -9rem;
			width: 30rem;
		}
	}

	// white bg
	&--white {
		background: var(--color-white);
		> svg { fill: var(--color-gray); }
	}

}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// clear paddings on cols
	.block-bg-graphic {
		// padding-top: var(--maring-large);
		
		.col {
			padding-right: 0;
			padding-left: 0;
		}

		.button {
			display: block;
		}
	}

}





/* --------------------------------- *\

	Blcok with image
	
\* --------------------------------- */

// block with a bacgkround image
.block-bg-image {
	position: relative;

	// backgorund image
	&__bg {
		background-color: var(--color-dark);
		background-repeat: no-repeat;
		background-position: center center; 
		-webkit-background-size: cover;
		   -moz-background-size: cover;
			 -o-background-size: cover;
				background-size: cover;
	}

	&--dark {
		color: var(--color-white);

		.block-bg-image__bg {
			background-image: url('../images/bg2.png');
		}
	}

	&--contacts {
		color: var(--color-white);

		.block-bg-image__bg {
			background-image: url('../images/bg5.jpg');
		}
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// update block padding and text position
	.block-bg-image {
		text-align: center;
		padding-top: var(--margin-medium);
		padding-bottom: var(--margin-medium);

		// button to block
		.button {
			display: block;
		}
	}

}





/* --------------------------------- *\

	Block with image over top
	
\* --------------------------------- */

// block with list items
.block-image-over-top {
	padding-bottom: var(--margin-large);

	// padding for the text
	.text {
		padding-top: calc(var(--margin-large) * 2);
	}

	// background
	> .absolute {
		height: calc(100% - var(--margin-large));
		top: var(--margin-large);
		background: var(--color-gray);
	}
}





/* --------------------------------- *\

	Intro Simple
	
\* --------------------------------- */

.intro {
	background-repeat: no-repeat;
	background-position: center center; 
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

.intro--simple {
	padding: calc(var(--header-height) - 1rem) 0 4rem 0;
	min-height: 22rem;
	background-image: url('../images/bg4.jpg');
	color: var(--color-white);

	.title > span > svg {
		fill: var(--color-comp);
	}
}




