/* --------------------------------- *\

	Header
	
\* --------------------------------- */

// container
.header {
	height: var(--header-height);
	position: fixed;
	z-index: 1000;
	width: 100%;
	display: flex;

	// add background on scroll
	&--bg {
		--header-height: 5rem;
		background: var(--color-dark);

		// update colors of the button
		.button {
			background: var(--color-main);
			&:hover { background: var(--color-main-hover); }
		}
	}

	// update button color on these pages
	&--portfolio, &--team, &--contacts {
		.button {
			background: var(--color-main);
			&:hover { background: var(--color-main-hover); }
		}
	}

	// hide mobile menu
	&__mobile {
		display: none;
		height: var(--header-height);
		position: absolute;
		right: 0;
		top: 0;
		align-items: center;
	}
}

// content
.header__content {
	height: var(--header-height);
	align-items: center;
	position: relative;
	display: flex;
}





/* --------------------------------- *\

	Logo
	
\* --------------------------------- */

// logo container
.logo {
	height: var(--header-height);
	width: 7rem;
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;

	// image
	svg {
		width: 7rem;
		height: auto;
		display: block;
		fill: var(--color-white);
	}
}

// on scroll resize
.header--bg {
	.logo, .logo svg { width: 4rem; }
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// update size
	.logo {
		width: 5rem;
		svg { width: 5rem; }
	}

	// reset on scroll resize
	.header--bg {
		.logo, .logo svg { width: 5rem; }
	}

}





/* --------------------------------- *\

	Navigation
	
\* --------------------------------- */

// container
.nav {
	display: flex;
	margin-left: 12rem;
	height: 100%;

	// nav item container
	> div {
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;

		// margin
		+ div {
			margin-left: 4rem;
		}

		// checkmark on the top hidden by default
		// shown when page active or hover
		> span {
			display: none;
		}
	}

	// link style
	a {
		text-decoration: none;
		position: relative;
		font-size: 1rem;
		white-space: nowrap;
		color: var(--color-white);
		text-align: center;

		// The pseudo element has the same content and hover style,
		// so it pre-sets the width of the element
		&:before {
			display: block;
			content: attr(data-title);
			font-weight: bold;
			height: 0;
			overflow: hidden;
			visibility: hidden;
		}
	}

	// active and hover
	a.nav__active {
		font-weight: bold;
	}
}

// on scroll resize
.header--bg {
	.nav { margin-left: 9rem; }
}

// desktop hovers
@media (pointer: fine) {

	// active and hover
	a.nav__active,
	.nav > div > a:hover {
		font-weight: bold;

		// create the checkmark
		+ span {
			display: block;
			position: absolute;
			top: 0;
			left: -1rem;
			width: calc(100% + 2rem);
			overflow: hidden;
			height: 2rem;

			// main line
			&:after {
				content: '';
				display: block;
				background: var(--color-main-light);
				height: .4rem;
				position: relative;
			}

			// little hook thing
			&:before {
				content: '';
				display: block;
				background: var(--color-main);
				width: .4rem;
				height: 1.25rem;
				position: absolute;
				left: .25rem;
				top: -.1rem;
				transform: rotate(-55deg);
			}
		}
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

}





/* --------------------------------- *\

	Language menu
	
\* --------------------------------- */

// container
.lang {
	margin-left: auto;
	display: flex;
	display: none;

	// next language item style
	> div + div {
		margin-left: .6rem;
		&:before {
			display: inline-block;
			color: var(--color-white);
			content: '/';
			margin-right: .6rem;
		}
	}

	a {
		color: var(--color-white);
		text-decoration: none;
	}

	&__active {
		border-bottom: 1px solid;
		padding-bottom: .35rem;
	}
}

// desktop hovers
@media (pointer: fine) {
	.lang a:hover {
		border-bottom: 1px solid;
		padding-bottom: .35rem;
	}
}





/* --------------------------------- *\

	Mobile menu
	
\* --------------------------------- */

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// header container
	.header {
		
		// reset height back on scroll
		&--bg {
			--header-height: 7rem;
		}

		// hide items
		.nav, .lang, .button {
			display: none;
		}

		// show the mobile burger
		&__mobile {
			display: flex;
		}

	}

	// transform content to column
	.header__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	// open header
	.header--open {
		background: var(--color-dark);
		width: 100%;
		height: 100%;

		// update navigation
		.nav {
			height: auto;
			margin-left: 0;
			display: flex;
			flex-direction: column;
			align-items: center;

			> div + div {
				margin-left: 0;
				margin-top: 3rem;
			}

			a {
				font-size: 1.5rem;
				line-height: 2rem;
			}
		}

		// update language menu
		.lang {
			display: flex;
			display: none;
			justify-content: center;
			margin: 4rem 0;
			margin-left: 0;
			font-size: 1.5rem;
			line-height: 2rem;
		}

		// update button
		.button {
			display: block;
			background: var(--color-main);
		}
	}

}





/* --------------------------------- *\

	Hamburger
	
\* --------------------------------- */

// burger
.hamburger {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	width: 3rem;
	height: 3rem;

	// burger lines
	> span {
		display: block;
		width: 3rem;
		height: 1px;
		background: var(--color-white);
		position: absolute;
		top: 50%;
		right: 0;
		transition: transform .2s ease-in-out, background .3s ease-in-out;

		// position
		&:nth-child(1) { transform: translateY(-.8rem); }
		&:nth-child(3) { transform: translateY(.8rem); }

		// update sizes
		&:nth-child(2) { width: 2rem; }
		&:nth-child(3) { width: 2.6rem; }
	}

	// active state
	&.is-active {

		// chenge color and position
		> span {
			background: var(--color-main);

			// position
			&:nth-child(1) { transform: translateY(0); }
			&:nth-child(3) { transform: translateY(0); }
		}

	}

}




