/* --------------------------------- *\

	Footer
	
\* --------------------------------- */

// container for footer menu
.footer {
	background: var(--color-gray-darker);

	// title col
	&__title {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		// send button to bottom
		img {
			width: 10rem;
			height: auto;
		}
	}

	&__logo {
		width: 6rem;
		height: auto;
		display: block;
		fill: var(--color-main);
	}

	// social links
	&__social {
		display: flex;
		align-items: center;

		// add margin to the text
		span {
			margin-right: 2rem;
		}

		// social icons
		> a {
			width: 1.25rem;
			height: 1.25rem;
			display: block;

			// margin
			+ a {
				margin-left: 1rem;
			}

			// icon color
			> svg {
				width: 100%;
				height: 100%;
				display: block;
				fill: var(--color-text);
			}
		}
	}

	// makit logo
	&__makit {
		width: 8rem;
		height: auto;
		display: block;
		fill: var(--color-text);
	}
}

// desktop hovers
@media (pointer: fine) {
	.footer__social > a:hover > svg {
		fill: var(--color-main);
	}
}

// copyright
.copyright {
	background: var(--color-gray-dark);
	color: var(--color-main);

	// text container
	&__content {
		display: flex;
	}

	// privacy links
	&__links {
		margin-left: auto;

		// margins for the links
		> a {
			margin-left: 4rem;
		}
	}
}

a.footer__menu__active {
	color: var(--color-text);
	display: none;
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	.footer {

		// update first col where the logo at
		> .cols > .col:nth-child(1) .col:nth-child(1) {
			display: flex;
			align-items: flex-start;

			// remove margins
			.margin-b {
				margin-bottom: 0;
			}
		}

		// hide second cols
		.col:nth-child(2) {
			display: none;
		}

		// update logo
		&__logo {
			width: 12rem;
			margin-right: 4rem;

			// update slogan size
			+ div {
				flex: 1;
				font-size: 1.35rem;
				line-height: 1.85rem;
			}
		}

		// hide the menu and social
		&__menu,
		&__social {
			display: none;
		}
	}

	// copyright
	.copyright {

		// text container
		&__content {
			flex-direction: column;

		}

		// privacy links
		&__links {
			margin-top: 0;
			margin-left: 0;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			// margins for the links
			> a {
				margin-left: 0;
				margin-top: 0;
			}
		}
	}

}




