/* --------------------------------- *\

	Contacts
	
\* --------------------------------- */

// contacts container
.contacts {
	display: flex;

	// list with line on the side
	&__list {
		margin-top: 1rem;
		border-left: 2px solid var(--color-main-light);
		padding-left: 1rem;

		// update size
		&.text-small {
			font-size: .9em;
		}
	}

	// the map
	&__map {
		flex: 1;
		margin-left: var(--margin-default);
	}

	// office list on footer of pages
	&--footer {
		display: block;
		color: var(--color-white);
		background-color: var(--color-dark);
		background-image: url('../images/footer-contacts.png');
		background-repeat: no-repeat;
		background-position: center center; 
		-webkit-background-size: cover;
		   -moz-background-size: cover;
			 -o-background-size: cover;
				background-size: cover;

		// color for the header for offices
		.cols h2 { color: var(--color-main-light); }
	}

	// company link
	&__company > a {
		color: var(--color-main-light);
		text-decoration: underline;
		&:hover { text-decoration: none; }
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// update layout
	.contacts {
		flex-direction: column-reverse;

		// contacts text
		&__text {
			width: var(--wrap-mobile);
			margin-right: auto;
			margin-left: auto;

			.title-small { font-size: 1.25em; }
		}

		// list with line on the side
		&__list {
			margin-top: 1.5rem;
			border-left: 2px solid var(--color-main-light);
			padding-left: 1.5rem;

			&.text-small { font-size: 1.15em; }
		}
	}

}





/* --------------------------------- *\

	Form
	
\* --------------------------------- */

.form {
	color: var(--color-text);

	input,
	textarea {
		background: var(--color-white);
		// appearance
		border-width: 0;
		border-style: solid;
		outline: 0;
		outline: none;
		filter: none;
		display: block;
		-webkit-appearance:none;
	}

	&__row {
		position: relative;
	}

	&__input > input {
		width: 100%;
		height: 3rem;
		line-height: 3rem;
		border-radius: var(--border-radius);
		padding-left: 6rem;
	}

	&__input > textarea {
		width: 100%;
		height: 12rem;
		padding: 1rem;
		border-radius: var(--border-radius);
	}

	&__label {
		position: absolute;
		top: 0;
		left: 0;
		height: 3rem;
		line-height: 3rem;
		width: 5rem;
		text-align: center;
		background: var(--color-gray);
		border-top-left-radius: var(--border-radius);
		border-bottom-left-radius: var(--border-radius);
	}

	&__error {
		color: var(--color-comp);
	}

}

// placeholders
.form__input > input,
.form__input > textarea {

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #000;
	  opacity: 1;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: #000;
	  opacity: 1;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: #000;
	  opacity: 1;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: #000;
	  opacity: 1;
	}

	&:focus {

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: transparent;
		  opacity: 0;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: transparent;
		  opacity: 0;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: transparent;
		  opacity: 0;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: transparent;
		  opacity: 0;
		}

	}

}




