/* --------------------------------- *\

	Porfolio
	
\* --------------------------------- */

.portfolio {

	a {
		text-decoration: underline;
		&:hover { text-decoration: none; }
	}
	
	// list of logos
	&__logos {
		display: flex;
		align-items: center;

		> img {
			height: 3rem;
			width: auto;
			margin-left: 2rem;
		}
	}

	// need to flip cols
	&--even {
		// background graphic to the left side
		> svg {
			left: -10rem;
		}
	}

}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// for the event cols
	.portfolio--even {

		// reverse the cols
		.cols--2 {
			flex-direction: column-reverse;

			// reverse the margins
			> .col:nth-child(1) { margin-top: var(--margin); }
			> .col:nth-child(2) { margin-top: 0; }
		}

	}

}