/* --------------------------------- *\

	Home: Intro
	
\* --------------------------------- */

.home-intro {
	padding: var(--header-height) 0;
	display: flex;
	align-items: center;
	background-image: url('../images/bg1.jpg');
	background-repeat: no-repeat;
	background-position: center center; 
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;

	// main title
	h1 {
		color: var(--color-white);
	}

	// list of logos
	&__logos {
		display: flex;
		align-items: center;
		width: 100%;

		> div {
			flex: 1;
			 + div {
				margin-left: 2rem;
			}
		}

		img {
			width: 100%;
			height: auto;
			opacity: .5;
		}
	}

	// image
	&__image {
		position: absolute;
		right: 0;
		top: 0;
		width: calc(50% - var(--margin-medium));
	}

	// footer cta stuff
	&__footer {
		width: 50%;
		height: var(--header-height);
		background: var(--color-white);
		position: absolute;
		bottom: 0;
		left: 0;
		border-top-right-radius: var(--border-radius);
		overflow: hidden;
		display: flex;

		// text container
		> div {
			flex: 1;
			padding-left: 5rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			> a {
				border-bottom: .3rem solid var(--color-main);
				margin-bottom: .3rem;
				margin-top: .5rem;
				text-decoration: none;
			}
		}

		// link
		> a {
			width: var(--header-height);
			height: var(--header-height);
			background: var(--color-comp);
			display: flex;
			justify-content: center;
			align-items: center;

			// icon
			> svg {
				width: 3rem;
				height: 3rem;
				fill: var(--color-dark);
			}
		}
	}
}

// desktop hovers
@media (pointer: fine) {
	.home-intro__footer > a:hover > svg {
		opacity: .5;
	}
	.home-intro__footer > div > a:hover {
		border-bottom: .3rem solid var(--color-comp);
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// update some stuff
	.home-intro {

		// hide second dummy col
		.col:nth-child(2) {
			display: none;
		}

		// image
		&__image {
			position: static;
			width: 100%;
			margin-top: var(--margin-large);
		}

		// hide the footer
		&__footer {
			display: none;
		}
	}

}





/* --------------------------------- *\

	Home: Austra
	
\* --------------------------------- */

// austra block
.home-austra {

	// austra logo
	&__logo {
		width: 20rem;
		height: auto;
		display: block;
		fill: var(--color-dark);
	}
	
}





/* --------------------------------- *\

	Home: Know How
	
\* --------------------------------- */

// container
.home-know-how {
	position: relative;
	padding-top: 8rem;
	background: var(--color-gray);

	// backgorund image
	&__bg {
		width: 100%;
		height: calc(100% - 8rem);
		position: absolute;
		top: 0;
		background-color: var(--color-dark);
		background-image: url('../images/bg2.png');
		background-repeat: no-repeat;
		background-position: center center; 
		-webkit-background-size: cover;
		   -moz-background-size: cover;
			 -o-background-size: cover;
				background-size: cover;
	}

	// color of the title
	h2 {
		color: var(--color-white);
	}

	// add margin to cols
	> .cols--4-mob-1 {
		margin-top: 8rem;

		// set a min height
		> .col {
			min-height: 16rem;
		}
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	.home-know-how {

		// backgorund image size
		&__bg {
			height: 33.65rem;
		}

		// center title
		h2 {
			text-align: center;
		}

		// chnage margin
		> .cols--4-mob-1 {
			margin-top: 6rem;
		}

		// change button to block
		.button {
			display: block;
		}
	}

}





/* --------------------------------- *\

	Home: Presentation
	
\* --------------------------------- */

// container
.home-presentation {
	background: var(--color-gray);
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
	.home-presentation {
		.button {
			display: block;
		}
	}
}




