/* --------------------------------- *\

	Austra: Intro
	
\* --------------------------------- */

// intro block
.austra-intro {
	padding: var(--header-height) 0;
	display: flex;
	align-items: center;
	background-image: url('../images/bg3.jpg');
	background-repeat: no-repeat;
	background-position: center center; 
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;

	// austra logo
	&__logo {
		display: block;
		width: 24rem;
		height: auto;

		+ div {
			background: var(--color-comp);
			font-size: 1rem;
			height: 2rem;
			line-height: 2rem;
			display: inline-flex;
			padding: 0 2rem;
		}
	}

	// button position
	&__image > .button {
		position: absolute;
		top: 50%;
		left: 20%;
		width: 20rem;
		transform: translateY(-50%);
	}

	// title color
	h1 {
		color: var(--color-white);
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// CTA position
	.austra-intro__image > .button {
		left: 13%;
		width: 18rem;
	}

}





/* --------------------------------- *\

	Austra: Tabs
	
\* --------------------------------- */

// the block with tabs
.austra-tabs {

	// menu with buttons
	&__menu {
		background: var(--color-white);
		z-index: 10;

		// active class
		&__active {
			background: var(--color-main);
			color: var(--color-white);
		}
	}

	// hide all tabs by default
	&__tab {
		// display: none;
		visibility: hidden;
		position: absolute;
		z-index: -10000;
		height: 1px;
		overflow: hidden;
	}

	// show active one
	&__active {
		position: static;
		visibility: visible;
		height: auto;
	}

}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// the block with tabs
	.austra-tabs {

		// menu with buttons
		&__menu {

			// resize button
			.button {
				font-size: .85rem;
			}
			
			// smaller margin between buttons
			.margin-l {
				margin-left: 1rem;
			}

		}

		// first tab
		&__tab[data-tab="3"] {

			// block with list items
			> div:nth-child(1) {

				// reset padding for the text
				.text {
					padding-top: 0;
					padding-right: 0;
					padding-left: 0;
				}

				// update background position
				> .absolute {
					height: calc(100% - 12rem);
					top: 12rem;
				}
			}

		}

	}

}





/* --------------------------------- *\

	Module Tab
	
\* --------------------------------- */

// module tabs
.modules {
	padding: 4rem 0 2rem 0;
	box-shadow: 0px 14px 43px 0px rgba(0, 0, 0, 0.05);
	z-index: 9;

	&__wrap {
		display: flex;

		> div {
			width: 6rem;
			padding: .5rem;
			border: 2px solid transparent;
			border-radius: var(--border-radius);
			cursor: pointer;

			&.modules__active {
				border: 2px solid var(--color-comp);
				font-weight: bold;
			}

			> img {
				display: block;
				width: auto;
				height: 2rem;
				margin-right: auto;
				margin-left: auto;
				margin-bottom: .5rem;
			}

			+ div {
				margin-left: 1rem;
			}
		}
	}
}

// modules content
.modules-content {
	
	// hide all
	> div { display: none; }

	// show active
	> div.modules-content__active {
		display: flex;
	}

}

// desktop hovers
@media (pointer: fine) {

	// tab buttons hover
	.austra-tabs__menu {
		.button:hover {
			background: var(--color-main);
			color: var(--color-white);
		}
	}

	// hover for modules menu
	.modules__wrap > div:hover {
		border: 2px solid var(--color-comp);
		font-weight: bold;
	}

}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// module tabs
	.modules {
		padding: 1.5rem 0 2rem 0;

		// add wrap
		&__wrap {
			flex-wrap: wrap;

			// update size
			> div {
				width: 5rem;
				margin-right: 1rem;
				margin-top: .5rem;
				font-size: .6rem;
				line-height: 1rem;
				border: 1px solid transparent;

				// active border
				&.modules__active {
					border: 1px solid var(--color-comp);
				}

				// clear left
				+ div { margin-left: 0; }
			}
		}
	}

	// modules content
	.modules-content {
		
		.padding-h-xlarge {
			padding-right: 0;
			padding-left: 0;
		}

	}

}




