// ------------------------------------
//
//		Margins
//
// ------------------------------------

// margins
$marginTypes: (
	r : ('-right'),
	l : ('-left'),
	b : ('-bottom'),
	t : ('-top'),
	h : ('-left', '-right'),
	v : ('-top', '-bottom'),
	all : ''
);

@function margin-name($name) {

	@if $name == default {
		$name: '';
	}

	@else {
		$name: '-#{$name}';
	}

	@return $name;

}

@mixin margins($type, $sizes) {

	@each $class, $margins in $marginTypes {

		// sizes
		@each $size-name, $value in $sizes {

			// get the size name
			$size-name: margin-name($size-name);
			$size-class: '.#{$type}-#{$class}#{$size-name}';
			
			// set up the class
			#{$size-class} {
				@each $margin-name in $margins {
					#{$type + $margin-name}: $value;
				}
			}
			
		}

	}

}




