// ------------------------------------
// 
// Text sizes
//
// font soze, line-height and we
// remove top space create by line
// height and font
//
// ------------------------------------

// @source:
// https://medium.com/codyhouse/line-height-crop-a-simple-css-formula-to-remove-top-space-from-your-text-9c3de06d7c6f
@mixin get_text($text_sizes, $size_name) {

	// get the values
	$font_size: map-get(map-get($text_sizes, $size_name), 'size');
	$line_height: map-get(map-get($text_sizes, $size_name), 'line');
	$fix_value: map-get(map-get($text_sizes, $size_name), 'fix');

	// set the css
	font-size: $font_size;
	line-height: #{$line_height}em;

	// fix the top padding issue
	&::before {
		content: '';
		display: block;
		height: 0;
		width: 0;
		margin-top: calc((#{$fix_value} - #{$line_height}) * 0.5em);
	}

}

// ------------------------------------
// Text sizes generator
// ------------------------------------

@mixin get_text_sizes($text_sizes) {
	@each $current_size, $current_value in $text_sizes {
		.#{$current_size} {
			@include get_text($text_sizes, $current_size);
		}
	}
}

// ------------------------------------
// Margin generator
// ------------------------------------

@mixin get_text_margins($font_size) {
	$elements: ("p", "h1", "h2", "h3", "h4", "ul", "ol", "div", "table");
	@each $currentElement in $elements {
		@each $element in $elements {
			#{$currentElement} + #{$element} { margin-top: $font_size * 2; }
		}
	}
}





// ------------------------------------
// Setup .text
// ------------------------------------

// ------------------------------------
// Margin between elements
// ------------------------------------

@mixin set_top_margins($element, $margin) {
	#{$element} + p,
	#{$element} + ul,
	#{$element} + ol,
	#{$element} + h3,
	#{$element} + h2,
	#{$element} + h1,
	#{$element} + table {
		margin-top: $margin;
	}
}

// ------------------------------------
// Text sizes
// ------------------------------------

@mixin text_size($name, $size, $tag: false) {

	// check if tag nees to be added
	@if $tag {
		#{$tag}, &.#{$name}, .#{$name} {
			font-size: var(--#{$name});
			line-height: var(--#{$name}-line);
		}
	} @else {
		&.#{$name}, .#{$name} {
			font-size: var(--#{$name});
			line-height: var(--#{$name}-line);
		}
	}

	// update size when used .text.text-size
	&.#{$name} {
		font-size: calc(var(--#{$name}) * #{$size});
	}

}




