<section class="section  austra-intro  relative">
	<div class="cols  cols--2  wrap  margin-t-medium">
		<div class="col">
			<img class="austra-intro__logo" src="assets/images/austra-logo-fancy.svg" alt="" />
			<div>by Zeta Industry</div>
			<h1 class="text  title-default  text-strong  margin-t-medium">
				{{title}}
			</h1>
		</div>
		<div class="col">
			<div class="austra-intro__image  relative">
				<img class="image-block" src="uploads/pages/austra-mockup.png" alt="" />
				<a href="{{button_link}}" class="button  button--comp  button--inline">
					{{button_text}}
				</a>
			</div>
		</div>
	</div>
</section>

{{tabs}}

{{contacts}}