<div class="austra-tabs__tab{{active}}" data-tab="{{tab_id}}">

	<div class="padding-v-xlarge">

		<div class="wrap  margin-b  text-center">
			<h2 class="title  text  title-default">
				<span class="text-strong">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 33 33" xml:space="preserve"> <path d="M32.6,16.4L1,32.7v-5.1l21.8-11.2L1,6.1v-6L32.6,16.4z"/> </svg>
					{{title}}
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 33 33" xml:space="preserve"> <path d="M32.6,16.4L1,32.7v-5.1l21.8-11.2L1,6.1v-6L32.6,16.4z"/> </svg>
				</span>
			</h2>
		</div>

		<div class="wrap  margin-b-medium  text-center">
			<h2 class="text  title-default">
				{{subtitle}}
			</h2>
		</div>

		<div class="cols  cols--2  wrap  wrap--small">
			{{presentations}}
		</div>

	</div>

</div>