<div class="austra-tabs__tab{{active}}" data-tab="{{tab_id}}">

	<div class="modules  text  text-xsmall  text-center  relative">
		<div class="wrap  modules__wrap">
			{{module_menu}}
		</div>
	</div>

	<div class="modules-content  padding-v-xlarge">
		{{modules}}
	</div>

	{{use_cases}}

</div>