<div class="cols  cols--2  wrap{{active}}" data-id="{{id}}">

	<div class="col">
		{{image}}<img class="image-block" src="{{image}}" alt="{{image_alt}}" />{{/image}}
	</div>

	<div class="col">
		
		<h2 class="title  text  title-default">
			<span class="text-strong">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 33 33" xml:space="preserve"> <path d="M32.6,16.4L1,32.7v-5.1l21.8-11.2L1,6.1v-6L32.6,16.4z"/> </svg>
				{{name}}
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 33 33" xml:space="preserve"> <path d="M32.6,16.4L1,32.7v-5.1l21.8-11.2L1,6.1v-6L32.6,16.4z"/> </svg>
			</span>
		</h2>

		<div class="text  title-margin-left  text-default  margin-t  margin-r-medium">
			{{content}}
		</div>

	</div>

</div>