<div class="cols  cols--2  cols--center  wrap{{active}}" data-id="0">

	<div class="col">
		{{image}}<img class="image-block" src="{{image}}" alt="{{image_alt}}" />{{/image}}
	</div>

	<div class="col  padding-h-xlarge">
		<img class="zeta-check  margin-b" src="assets/images/zeta-check.svg" alt="" />
		<div class="text  title-large  text-strong">
			{{title}}
		</div>
	</div>

</div>