<section class="section  block-bg-image  block-bg-image--dark  relative  padding-v-xlarge">

	<div class="block-bg-image__bg  absolute"></div>

	<div class="wrap  wrap--small  cols  cols--2  cols--3-2  relative  padding-v">
		
		<div class="col">
			<h2 class="text  title-default  text-strong">
				{{title}}
			</h2>
		</div>

		<div class="col  text-right">
			<a href="{{button_link}}" class="button  button--main  button--inline">
				{{button_text}}
			</a>
		</div>

	</div>

</section>