<div class="block-image-over-top  relative">

	<div class="absolute"></div>

	<div class="cols  cols--2  wrap  relative">

		<div class="col">
			<div class="image  image--4-3  images-load-js">
				{{image}}<img class="images-set-position-js" src="{{image}}" alt="{{image_alt}}" />{{/image}}
				<div class="image__gradient  absolute"></div>
			</div>
		</div>

		<div class="col  text  text-default  padding-h-large">
			{{content}}
		</div>

	</div>

</div>