<div class="padding-v-xlarge">

	<div class="cols  cols--2  cols--center  wrap">

		<div class="col">
			{{image}}<img class="image-block" src="{{image}}" alt="{{image_alt}}" />{{/image}}
		</div>

		<div class="col">
			<img class="zeta-check  margin-b" src="assets/images/zeta-check.svg" alt="" />
			<div class="text  title-large  text-strong">
				{{content}}
			</div>
		</div>

	</div>

</div>