<section class="section  intro  intro--simple  relative">

	<div class="wrap  margin-v  text-center">
		<h2 class="title  text  title-large">
			<span class="text-strong">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 33 33" xml:space="preserve"> <path d="M32.6,16.4L1,32.7v-5.1l21.8-11.2L1,6.1v-6L32.6,16.4z"/> </svg>
				{{title}}
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 33 33" xml:space="preserve"> <path d="M32.6,16.4L1,32.7v-5.1l21.8-11.2L1,6.1v-6L32.6,16.4z"/> </svg>
			</span>
		</h2>
	</div>

	<div class="wrap  text-center">
		<h2 class="text  text-default">
			{{text}}
		</h2>
	</div>
	
</section>