<section class="section  padding-v-xlarge{{class}}">

	<div class="wrap  margin-b-medium">
		<h2 class="title  text  title-default">
			<span class="text-strong">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 33 33" xml:space="preserve"> <path d="M32.6,16.4L1,32.7v-5.1l21.8-11.2L1,6.1v-6L32.6,16.4z"/> </svg>
				{{title}}
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 33 33" xml:space="preserve"> <path d="M32.6,16.4L1,32.7v-5.1l21.8-11.2L1,6.1v-6L32.6,16.4z"/> </svg>
			</span> <span>{{summary}}</span>
		</h2>
	</div>

	<div class="cols  cols--4-mob-1  wrap">

		{{items}}

		<div class="col  card  card--view-all">
			<div class="text  title-small  text-strong  margin-b">
				{{view_all}}
			</div>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 39 39" xml:space="preserve"> <path d="M19.5,39C8.7,39,0,30.3,0,19.5S8.7,0,19.5,0S39,8.7,39,19.5S30.3,39,19.5,39z M19.5,1C9.3,1,1,9.3,1,19.5S9.3,38,19.5,38 S38,29.7,38,19.5S29.7,1,19.5,1z"/> <polygon points="18.2,28.5 13.9,24.3 18.7,19.5 13.9,14.7 18.2,10.5 27.2,19.5 "/> </svg>
			<a class="card__link" href="{{link}}"></a>
		</div>

	</div>
	
</section>