<section class="section  home-know-how">

	<div class="home-know-how__bg"></div>

	<div class="wrap  wrap--small  cols  cols--2  relative">
		
		<div class="col">
			<h2 class="text  title-default  text-strong">
				{{title}}
			</h2>
		</div>

		<div class="col  text-right">
			<a href="{{link}}" class="button  button--main  button--inline">
				{{button}}
			</a>
		</div>

	</div>

	<div class="cols  cols--4-mob-1  wrap  relative">
		<div class="col  card  card--2  card--2-arrow  text-center">
			<div class="text  title-default  text-strong">{{name}}</div>
		</div>
		{{items}}
	</div>

</section>