<section class="section  section--full-height  home-intro  relative">
	
	<div class="cols  cols--2  wrap  relative">
		<div class="col">
			
			<h1 class="text  title-xlarge  text-strong">{{title}}</h1>
			
			<div class="hashtags  margin-t-large">
				{{hashtags}}
			</div>

			<img class="home-intro__image  image-block" src="uploads/pages/home-mockup.png" alt="" />

			<div class="home-intro__logos  margin-t-large">
				<div><img src="assets/images/logo1.png" alt="" /></div>
				<div><img src="assets/images/logo2.png" alt="" /></div>
				<div><img src="assets/images/logo3.png" alt="" /></div>
				<div><img src="assets/images/logo4.png" alt="" /></div>
				<div><img src="assets/images/logo5.png" alt="" /></div>
				<div><img src="assets/images/logo6.png" alt="" /></div>
			</div>

		</div>
		<div class="col">
		</div>
	</div>

	<div class="home-intro__footer">
		<div class="text  title-small">
			<div>{{cta_title}}</div>
			<a class="text-strong" href="{{cta_link}}">{{cta_text}}</a>
		</div>
		<a href="{{cta_link}}">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 39 39" xml:space="preserve"> <path d="M19.5,39C8.7,39,0,30.3,0,19.5S8.7,0,19.5,0S39,8.7,39,19.5S30.3,39,19.5,39z M19.5,1C9.3,1,1,9.3,1,19.5S9.3,38,19.5,38 S38,29.7,38,19.5S29.7,1,19.5,1z"/> <polygon points="18.2,28.5 13.9,24.3 18.7,19.5 13.9,14.7 18.2,10.5 27.2,19.5 "/> </svg>
		</a>
	</div>

</section>