<div class="col  card  card--1">
	<div class="image  image--85  images-load-js">
		{{image}}<img class="images-set-position-js" src="{{image}}" alt="{{image_alt}}" />{{/image}}
		<div class="image__gradient  absolute"></div>
		{{logo}}<div class="image__logo">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 86 52" xml:space="preserve"> <path d="M0,0h86L68.9,52H0V0z"/> </svg>
			<img src="{{logo}}" alt="{{logo_alt}}" />
		</div>{{/logo}}
	</div>
	<div class="padding-all">
		{{content}}
	</div>
	{{link}}<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 33 33" xml:space="preserve"> <path d="M32.6,16.4L1,32.7v-5.1l21.8-11.2L1,6.1v-6L32.6,16.4z"/> </svg>
	<a class="card__link" href="{{link}}"></a>{{/link}}
</div>