<div class="col  card  card--4  text-center">
	<div class="image  image--sq  images-load-js  margin-b-medium">
		{{image}}<img class="images-set-position-js" src="{{image}}" alt="{{image_alt}}" />{{/image}}
	</div>
	<div class="text  title-small  text-strong">{{name}}</div>
</div>