<div class="col  card  card--3{{class}}">
	<div style="background: {{color}};">
		<div class="image  image--circle  images-load-js">
			<div class="image__light-bg" style="background-color: {{color}};"></div>
			{{image}}<img class="images-set-position-js" src="{{image}}" alt="{{image_alt}}" />{{/image}}
		</div>
	</div>
	<div class="padding-all-medium">
		{{content}}
	</div>
</div>