/* --------------------------------- *\

	Color theme

\* --------------------------------- */
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-main: #00B2AE;
  --color-main-light: #00D1C5;
  --color-main-hover: #00a09c;
  --color-comp: #FFC100;
  --color-comp-hover: #ffcd32;
  --color-dark: #32334E;
  --color-darker: #111232;
  --color-dark-hover: #3f4062;
  --color-text: #32334E;
  --color-gray: #F1F1F1;
  --color-gray-dark: #D0D1D1;
  --color-gray-darker: #C4C4C4;
  --color-bg: #ffffff;
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-text);
}

.color-main-text {
  color: var(--color-main);
}

.color-main-light-text {
  color: var(--color-main-light);
}

.color-comp-text {
  color: var(--color-comp);
}

.color-dark-text {
  color: var(--color-dark);
}

.color-gray-bg {
  background: var(--color-gray);
}

/*# sourceMappingURL=--1-colors.css.map */
