/* --------------------------------- *\

	Basic text stuff

\* --------------------------------- */
:root {
  --font-title: "Montserrat", serif;
  --font-main: "Raleway", sans-serif;
  --bold: 700;
  --text-margin: 1.35rem;
  --title-xlarge: 2.5em;
  --title-xlarge-line: 1.25em;
  --title-large: 2em;
  --title-large-line: 1.25em;
  --title-default: 1.5em;
  --title-default-line: 1.25em;
  --title-small: .85em;
  --title-small-line: 1.25em;
  --title-xsmall: .75em;
  --title-xsmall-line: 1.35em;
  --text-xlarge: 4em;
  --text-xlarge-line: 1.15em;
  --text-large: 3em;
  --text-large-line: 1.15em;
  --text-medium: 1.5em;
  --text-medium-line: 1.65em;
  --text-default: 1em;
  --text-default-line: 1.65em;
  --text-small: .8em;
  --text-small-line: 1.65em;
  --text-xsmall: .6em;
  --text-xsmall-line: 1.65em;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  :root {
    --text-xlarge: 3.5em;
  }
}
html,
body,
select,
input,
textarea {
  font-family: var(--font-main);
  line-height: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

@media (pointer: fine) {
  a:hover {
    text-decoration: underline;
  }
}
em {
  font-style: italic;
}

.text-upper {
  text-transform: uppercase;
}

.text-strong,
strong {
  font-weight: var(--bold);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.font-secondary {
  font-family: var(--font-title);
}

h1, h2, h3,
.title-xlarge,
.title-large,
.title-default,
.title-small {
  font-family: var(--font-title);
}

/* --------------------------------- *\

	Text Container

\* --------------------------------- */
.text {
  font-size: 1.25rem;
}
.text-margin {
  margin-bottom: var(--text-margin);
}
.text.title-xlarge, .text .title-xlarge {
  font-size: var(--title-xlarge);
  line-height: var(--title-xlarge-line);
}
.text.title-xlarge {
  font-size: calc(var(--title-xlarge) * 1.25);
}
.text h1, .text.title-large, .text .title-large {
  font-size: var(--title-large);
  line-height: var(--title-large-line);
}
.text.title-large {
  font-size: calc(var(--title-large) * 1.25);
}
.text h2, .text.title-default, .text .title-default {
  font-size: var(--title-default);
  line-height: var(--title-default-line);
}
.text.title-default {
  font-size: calc(var(--title-default) * 1.25);
}
.text h3, .text.title-small, .text .title-small {
  font-size: var(--title-small);
  line-height: var(--title-small-line);
}
.text.title-small {
  font-size: calc(var(--title-small) * 1.25);
}
.text.title-xsmall, .text .title-xsmall {
  font-size: var(--title-xsmall);
  line-height: var(--title-xsmall-line);
}
.text.title-xsmall {
  font-size: calc(var(--title-xsmall) * 1.25);
}
.text p, .text li, .text.text-default, .text .text-default {
  font-size: var(--text-default);
  line-height: var(--text-default-line);
}
.text.text-default {
  font-size: calc(var(--text-default) * 1.25);
}
.text.text-medium, .text .text-medium {
  font-size: var(--text-medium);
  line-height: var(--text-medium-line);
}
.text.text-medium {
  font-size: calc(var(--text-medium) * 1.25);
}
.text.text-small, .text .text-small {
  font-size: var(--text-small);
  line-height: var(--text-small-line);
}
.text.text-small {
  font-size: calc(var(--text-small) * 1.25);
}
.text.text-xsmall, .text .text-xsmall {
  font-size: var(--text-xsmall);
  line-height: var(--text-xsmall-line);
}
.text.text-xsmall {
  font-size: calc(var(--text-xsmall) * 1.25);
}
.text.text-large, .text .text-large {
  font-size: var(--text-large);
  line-height: var(--text-large-line);
}
.text.text-large {
  font-size: calc(var(--text-large) * 1.25);
}
.text.text-xlarge, .text .text-xlarge {
  font-size: var(--text-xlarge);
  line-height: var(--text-xlarge-line);
}
.text.text-xlarge {
  font-size: calc(var(--text-xlarge) * 1.25);
}
.text p + p,
.text p + ul,
.text p + ol,
.text p + h3,
.text p + h2,
.text p + h1,
.text p + table {
  margin-top: var(--text-margin);
}
.text ul + p,
.text ul + ul,
.text ul + ol,
.text ul + h3,
.text ul + h2,
.text ul + h1,
.text ul + table {
  margin-top: var(--text-margin);
}
.text ol + p,
.text ol + ul,
.text ol + ol,
.text ol + h3,
.text ol + h2,
.text ol + h1,
.text ol + table {
  margin-top: var(--text-margin);
}
.text h3 + p,
.text h3 + ul,
.text h3 + ol,
.text h3 + h3,
.text h3 + h2,
.text h3 + h1,
.text h3 + table {
  margin-top: var(--text-margin);
}
.text h2 + p,
.text h2 + ul,
.text h2 + ol,
.text h2 + h3,
.text h2 + h2,
.text h2 + h1,
.text h2 + table {
  margin-top: var(--text-margin);
}
.text h1 + p,
.text h1 + ul,
.text h1 + ol,
.text h1 + h3,
.text h1 + h2,
.text h1 + h1,
.text h1 + table {
  margin-top: var(--text-margin);
}
.text ul, .text ol {
  margin-left: 2rem;
}
.text li + li {
  margin-top: 0.25em;
}
.text ul > li {
  list-style-type: disc;
}
.text ol > li {
  list-style-type: decimal;
}

/* --------------------------------- *\

	List style

\* --------------------------------- */
.text > ul > li {
  list-style-type: none;
  position: relative;
}
.text > ul > li:before {
  content: "";
  display: block;
  position: absolute;
  left: -2rem;
  top: 0.5em;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 2px solid var(--color-main);
}
.text > ul > li + li {
  margin-top: 1em;
}
.text > ul > li > ul {
  margin-left: 4rem;
}
.text > ul > li > ul > li {
  list-style-type: none;
  position: relative;
}
.text > ul > li > ul > li + li {
  margin-top: 1em;
}
.text > ul > li > ul > li:before {
  content: "";
  display: block;
  position: absolute;
  left: -1.5rem;
  top: 0.6em;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: var(--color-main);
}

.text.title-small--contacts {
  line-height: 2.5em;
}

.text.color-white-text a {
  color: var(--color-white);
}

/*# sourceMappingURL=--2-text.css.map */
