/* --------------------------------- *\

	Layout definitions

\* --------------------------------- */
:root {
  --header-height: 7rem;
  --wrap: 90rem;
  --wrap-small: 76rem;
  --wrap-mobile: calc(100% - 6rem);
  --margin-default: 2.000rem;
  --margin-medium: 3.000rem;
  --margin-xlarge: 6.000rem;
  --margin-large: 4.000rem;
  --margin-half: 1.000rem;
  --margin-small: 0.500rem;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* --------------------------------- *\

	Margins and padding

\* --------------------------------- */
.margin-r {
  margin-right: var(--margin-default);
}

.margin-r-medium {
  margin-right: var(--margin-medium);
}

.margin-r-large {
  margin-right: var(--margin-large);
}

.margin-r-xlarge {
  margin-right: var(--margin-xlarge);
}

.margin-r-small {
  margin-right: var(--margin-small);
}

.margin-r-half {
  margin-right: var(--margin-half);
}

.margin-l {
  margin-left: var(--margin-default);
}

.margin-l-medium {
  margin-left: var(--margin-medium);
}

.margin-l-large {
  margin-left: var(--margin-large);
}

.margin-l-xlarge {
  margin-left: var(--margin-xlarge);
}

.margin-l-small {
  margin-left: var(--margin-small);
}

.margin-l-half {
  margin-left: var(--margin-half);
}

.margin-b {
  margin-bottom: var(--margin-default);
}

.margin-b-medium {
  margin-bottom: var(--margin-medium);
}

.margin-b-large {
  margin-bottom: var(--margin-large);
}

.margin-b-xlarge {
  margin-bottom: var(--margin-xlarge);
}

.margin-b-small {
  margin-bottom: var(--margin-small);
}

.margin-b-half {
  margin-bottom: var(--margin-half);
}

.margin-t {
  margin-top: var(--margin-default);
}

.margin-t-medium {
  margin-top: var(--margin-medium);
}

.margin-t-large {
  margin-top: var(--margin-large);
}

.margin-t-xlarge {
  margin-top: var(--margin-xlarge);
}

.margin-t-small {
  margin-top: var(--margin-small);
}

.margin-t-half {
  margin-top: var(--margin-half);
}

.margin-h {
  margin-left: var(--margin-default);
  margin-right: var(--margin-default);
}

.margin-h-medium {
  margin-left: var(--margin-medium);
  margin-right: var(--margin-medium);
}

.margin-h-large {
  margin-left: var(--margin-large);
  margin-right: var(--margin-large);
}

.margin-h-xlarge {
  margin-left: var(--margin-xlarge);
  margin-right: var(--margin-xlarge);
}

.margin-h-small {
  margin-left: var(--margin-small);
  margin-right: var(--margin-small);
}

.margin-h-half {
  margin-left: var(--margin-half);
  margin-right: var(--margin-half);
}

.margin-v {
  margin-top: var(--margin-default);
  margin-bottom: var(--margin-default);
}

.margin-v-medium {
  margin-top: var(--margin-medium);
  margin-bottom: var(--margin-medium);
}

.margin-v-large {
  margin-top: var(--margin-large);
  margin-bottom: var(--margin-large);
}

.margin-v-xlarge {
  margin-top: var(--margin-xlarge);
  margin-bottom: var(--margin-xlarge);
}

.margin-v-small {
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
}

.margin-v-half {
  margin-top: var(--margin-half);
  margin-bottom: var(--margin-half);
}

.margin-all {
  margin: var(--margin-default);
}

.margin-all-medium {
  margin: var(--margin-medium);
}

.margin-all-large {
  margin: var(--margin-large);
}

.margin-all-xlarge {
  margin: var(--margin-xlarge);
}

.margin-all-small {
  margin: var(--margin-small);
}

.margin-all-half {
  margin: var(--margin-half);
}

.padding-r {
  padding-right: var(--margin-default);
}

.padding-r-medium {
  padding-right: var(--margin-medium);
}

.padding-r-large {
  padding-right: var(--margin-large);
}

.padding-r-xlarge {
  padding-right: var(--margin-xlarge);
}

.padding-r-small {
  padding-right: var(--margin-small);
}

.padding-r-half {
  padding-right: var(--margin-half);
}

.padding-l {
  padding-left: var(--margin-default);
}

.padding-l-medium {
  padding-left: var(--margin-medium);
}

.padding-l-large {
  padding-left: var(--margin-large);
}

.padding-l-xlarge {
  padding-left: var(--margin-xlarge);
}

.padding-l-small {
  padding-left: var(--margin-small);
}

.padding-l-half {
  padding-left: var(--margin-half);
}

.padding-b {
  padding-bottom: var(--margin-default);
}

.padding-b-medium {
  padding-bottom: var(--margin-medium);
}

.padding-b-large {
  padding-bottom: var(--margin-large);
}

.padding-b-xlarge {
  padding-bottom: var(--margin-xlarge);
}

.padding-b-small {
  padding-bottom: var(--margin-small);
}

.padding-b-half {
  padding-bottom: var(--margin-half);
}

.padding-t {
  padding-top: var(--margin-default);
}

.padding-t-medium {
  padding-top: var(--margin-medium);
}

.padding-t-large {
  padding-top: var(--margin-large);
}

.padding-t-xlarge {
  padding-top: var(--margin-xlarge);
}

.padding-t-small {
  padding-top: var(--margin-small);
}

.padding-t-half {
  padding-top: var(--margin-half);
}

.padding-h {
  padding-left: var(--margin-default);
  padding-right: var(--margin-default);
}

.padding-h-medium {
  padding-left: var(--margin-medium);
  padding-right: var(--margin-medium);
}

.padding-h-large {
  padding-left: var(--margin-large);
  padding-right: var(--margin-large);
}

.padding-h-xlarge {
  padding-left: var(--margin-xlarge);
  padding-right: var(--margin-xlarge);
}

.padding-h-small {
  padding-left: var(--margin-small);
  padding-right: var(--margin-small);
}

.padding-h-half {
  padding-left: var(--margin-half);
  padding-right: var(--margin-half);
}

.padding-v {
  padding-top: var(--margin-default);
  padding-bottom: var(--margin-default);
}

.padding-v-medium {
  padding-top: var(--margin-medium);
  padding-bottom: var(--margin-medium);
}

.padding-v-large {
  padding-top: var(--margin-large);
  padding-bottom: var(--margin-large);
}

.padding-v-xlarge {
  padding-top: var(--margin-xlarge);
  padding-bottom: var(--margin-xlarge);
}

.padding-v-small {
  padding-top: var(--margin-small);
  padding-bottom: var(--margin-small);
}

.padding-v-half {
  padding-top: var(--margin-half);
  padding-bottom: var(--margin-half);
}

.padding-all {
  padding: var(--margin-default);
}

.padding-all-medium {
  padding: var(--margin-medium);
}

.padding-all-large {
  padding: var(--margin-large);
}

.padding-all-xlarge {
  padding: var(--margin-xlarge);
}

.padding-all-small {
  padding: var(--margin-small);
}

.padding-all-half {
  padding: var(--margin-half);
}

/* --------------------------------- *\

	Size

\* --------------------------------- */
html, body {
  font-size: 16px;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  html, body {
    font-size: 12px;
  }
}
@media (min-width: 1201px) and (max-width: 1440px) {
  html, body {
    font-size: 14px;
  }
}
@media (min-width: 1441px) and (max-width: 1600px) {
  html, body {
    font-size: 16px;
  }
}
@media (min-width: 1720px) and (max-aspect-ratio: 13/5) {
  html, body {
    font-size: 18px;
  }
}
@media (min-width: 1920px) and (max-aspect-ratio: 3/1) {
  html, body {
    font-size: 20px;
  }
}
@media (min-width: 1920px) and (max-aspect-ratio: 13/5) {
  html, body {
    font-size: 22px;
  }
}
@media (min-width: 568px) and (max-width: 1023px) {
  html, body {
    font-size: 1vw;
  }
}
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  html, body {
    font-size: 2.75vw;
  }
}
/* --------------------------------- *\

	Wrap

\* --------------------------------- */
.wrap {
  width: calc(100% - 10rem);
  max-width: var(--wrap);
  margin-right: auto;
  margin-left: auto;
}
.wrap--small {
  max-width: var(--wrap-small);
}

.spacing {
  height: var(--header-height);
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .wrap {
    width: var(--wrap-mobile);
    max-width: none;
  }
}
/* --------------------------------- *\

	section

\* --------------------------------- */
.section {
  width: 100%;
  display: block;
}

.section--full-height {
  min-height: 100%;
}

/* --------------------------------- *\

	Cols

\* --------------------------------- */
.cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.cols--center {
  align-items: center;
}

.cols--1 > .col {
  width: 100%;
}

.cols--2 {
  --margin: var(--margin-medium);
}
.cols--2 > .col {
  margin-top: var(--margin);
  margin-right: var(--margin);
  width: calc(50% - var(--margin) * 1 / 2);
}
.cols--2 > .col:nth-child(2n), .cols--2 > .col:last-child {
  margin-right: 0;
}
.cols--2 > .col:nth-child(1), .cols--2 > .col:nth-child(2) {
  margin-top: 0;
}

.cols--3-2 > .col {
  width: calc(58% - var(--margin) * 1 / 2);
}
.cols--3-2 > .col:nth-child(2) {
  width: calc(42% - var(--margin) * 1 / 2);
}

.cols--2-3 > .col {
  width: calc(42% - var(--margin) * 1 / 2);
}
.cols--2-3 > .col:nth-child(2) {
  width: calc(58% - var(--margin) * 1 / 2);
}

.cols--3 {
  --margin: var(--margin-large);
}
.cols--3 > .col {
  margin-top: var(--margin);
  margin-right: var(--margin);
  width: calc(100%/3 - var(--margin) * 2 / 3 - .025vw);
}
.cols--3 > .col:nth-child(3n), .cols--3 > .col:last-child {
  margin-right: 0;
}
.cols--3 > .col:nth-child(-n+3) {
  margin-top: 0;
}
.cols--3-contacts {
  width: 80%;
}
.cols--3-contacts > .col {
  margin-top: var(--margin-default);
}

.cols--4,
.cols--4-mob-1 {
  --margin: var(--margin-medium);
}
.cols--4 > .col,
.cols--4-mob-1 > .col {
  margin-top: var(--margin);
  margin-right: var(--margin);
  width: calc(100%/4 - var(--margin) * 3 / 4);
}
.cols--4 > .col:nth-child(4n), .cols--4 > .col:last-child,
.cols--4-mob-1 > .col:nth-child(4n),
.cols--4-mob-1 > .col:last-child {
  margin-right: 0;
}
.cols--4 > .col:nth-child(-n+4),
.cols--4-mob-1 > .col:nth-child(-n+4) {
  margin-top: 0;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .cols--2,
.cols--3,
.cols--3-2,
.cols--2-3,
.cols--4-mob-1 {
    --margin: var(--margin-medium);
  }
  .cols--2 > .col,
.cols--3 > .col,
.cols--3-2 > .col,
.cols--2-3 > .col,
.cols--4-mob-1 > .col {
    margin-top: var(--margin);
    margin-right: 0;
    width: 100%;
  }
  .cols--2 > .col:nth-child(2), .cols--2 > .col:nth-child(3), .cols--2 > .col:nth-child(4),
.cols--3 > .col:nth-child(2),
.cols--3 > .col:nth-child(3),
.cols--3 > .col:nth-child(4),
.cols--3-2 > .col:nth-child(2),
.cols--3-2 > .col:nth-child(3),
.cols--3-2 > .col:nth-child(4),
.cols--2-3 > .col:nth-child(2),
.cols--2-3 > .col:nth-child(3),
.cols--2-3 > .col:nth-child(4),
.cols--4-mob-1 > .col:nth-child(2),
.cols--4-mob-1 > .col:nth-child(3),
.cols--4-mob-1 > .col:nth-child(4) {
    margin-top: var(--margin);
  }

  .cols--3-2 > .col:nth-child(2),
.cols--2-3 > .col:nth-child(2) {
    width: 100%;
  }

  .cols--4 {
    --margin: var(--margin-medium);
  }
  .cols--4 > .col {
    margin-top: var(--margin);
    margin-right: var(--margin);
    width: calc(50% - var(--margin) * 1 / 2);
  }
  .cols--4 > .col:nth-child(2n), .cols--4 > .col:last-child {
    margin-right: 0;
  }
  .cols--4 > .col:nth-child(-n+4) {
    margin-top: var(--margin);
  }
  .cols--4 > .col:nth-child(1), .cols--4 > .col:nth-child(2) {
    margin-top: 0;
  }
}

/*# sourceMappingURL=--3-layout.css.map */
