/* --------------------------------- *\

	Buttons

\* --------------------------------- */
:root {
  --button-height: 4rem;
  --button-height-small: 3rem;
  --button-text-size: 1rem;
  --button-padding: 3em;
  --button-padding-small: 2em;
  --border-radius: 7px;
}

.button {
  height: var(--button-height);
  line-height: var(--button-height);
  font-size: var(--button-text-size);
  letter-spacing: 0;
  font-weight: 700;
  border-radius: var(--border-radius);
  width: 100%;
  display: block;
  text-align: center;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  white-space: nowrap;
  color: var(--color-white);
}
.button--inline {
  display: inline-block;
  width: auto;
  padding: 0 var(--button-padding);
}
.button--small {
  height: var(--button-height-small);
  line-height: var(--button-height-small);
  padding: 0 var(--button-padding-small);
}
.button--main {
  background: var(--color-main);
}
.button--dark {
  background: var(--color-dark);
}
.button--comp {
  background: var(--color-comp);
  color: var(--color-dark);
}
.button--white {
  background: var(--color-white);
  color: var(--color-dark);
}
.button--gray {
  background: var(--color-gray);
  color: var(--color-dark);
}

a.button {
  text-decoration: none;
}

@media (pointer: fine) {
  .button:hover {
    background: var(--color-dark-hover);
  }

  .button--main:hover {
    background: var(--color-main-hover);
  }

  .button--white:hover {
    background: var(--color-gray-dark);
  }

  .button--gray:hover {
    background: var(--color-gray-dark);
  }

  .button--comp:hover {
    background: var(--color-comp-hover);
  }
}
/* --------------------------------- *\

	Images

\* --------------------------------- */
.image-block {
  width: 100%;
  height: auto;
  display: block;
}

/* --------------------------------- *\

	Hashtags

\* --------------------------------- */
.hashtags {
  display: flex;
  flex-wrap: wrap;
}
.hashtags--white .hashtag {
  color: var(--color-dark);
}
.hashtags--white .hashtag:before {
  background: var(--color-white);
  opacity: 1;
}
.hashtags--gray .hashtag {
  color: var(--color-dark);
}
.hashtags--gray .hashtag:before {
  background: var(--color-gray-dark);
  opacity: 1;
}

.hashtag {
  color: var(--color-white);
  font-size: 0.9rem;
  line-height: 2rem;
  margin-right: 0.5rem;
  padding: 0 0.8rem;
  margin-top: 0.5rem;
  position: relative;
}
.hashtag > span {
  position: relative;
}
.hashtag:last-child {
  margin-right: 0;
}
.hashtag:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background: var(--color-dark);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.54;
}

/* --------------------------------- *\

	Title arrow stuff

\* --------------------------------- */
.title {
  display: inline-flex;
  align-items: center;
}
.title > span:nth-child(1) {
  display: inline-flex;
  align-items: center;
}
.title > span:nth-child(1) > svg {
  width: 2.75rem;
  height: auto;
  display: block;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  fill: var(--color-main-light);
}
.title > span:nth-child(1) > svg:first-child {
  transform: rotate(-180deg);
  margin-left: 0;
}

.title-margin-left {
  margin-left: calc(2.75rem + 1.5rem);
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .title > span:nth-child(1) > svg {
    width: 2.25rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  .title > span:nth-child(1) > svg:first-child {
    margin-left: 0;
  }
  .title > span:nth-child(1) > svg:last-child {
    margin-right: 0;
  }
  .title > span + span {
    margin-top: 2rem;
  }

  .title-margin-left {
    margin-left: 0;
  }
}
/* --------------------------------- *\

	Zeta Check

\* --------------------------------- */
.zeta-check {
  width: 7rem;
  height: auto;
  display: block;
}

/* --------------------------------- *\

	Cookies

\* --------------------------------- */
.cookies {
  background: var(--color-dark);
  color: var(--color-white);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  display: flex;
  align-items: center;
}
.cookies__buttons {
  margin-left: auto;
}
.cookies .button {
  padding-right: 4rem;
  padding-left: 4rem;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .cookies .text {
    font-size: 0.75em;
  }
  .cookies__buttons {
    margin-left: 0;
    margin-left: 2rem;
  }
  .cookies .button {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

/*# sourceMappingURL=--4-elements.css.map */
