/* --------------------------------- *\

	Card defaults

\* --------------------------------- */
.card {
  position: relative;
  border-radius: var(--border-radius);
}
.card__icon {
  width: 65%;
  border-radius: 50%;
  position: relative;
}
.card__icon:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.card__icon > img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__social > svg {
  fill: var(--color-main);
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.card__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* --------------------------------- *\

	Card 1

\* --------------------------------- */
.card--1 {
  background: var(--color-gray);
  padding-bottom: 3rem;
}
.card--1 > svg {
  fill: var(--color-main-light);
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.color-gray-bg .card--1 {
  background: var(--color-white);
}

/* --------------------------------- *\

	Card 2

\* --------------------------------- */
.card--2 {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--margin-default);
}
.card--2 > img {
  width: 60%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}
.card--2-arrow {
  background: var(--color-gray-dark);
  position: relative;
}
.card--2-arrow:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-left-color: var(--color-gray-dark);
  border-width: 1rem;
  margin-top: -1rem;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .card--2-arrow {
    background: var(--color-gray-dark);
    position: relative;
  }
  .card--2-arrow:after {
    top: 100%;
    left: 50%;
    border-left-color: transparent;
    border-top-color: var(--color-gray-dark);
    margin-left: -1rem;
    margin-top: 0;
  }
}
/* --------------------------------- *\

	Card 3

\* --------------------------------- */
.card--3 {
  background: var(--color-dark);
  display: flex;
  color: var(--color-white);
}
.card--3 > div:first-child {
  width: 48%;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card--3 > div:first-child:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.card--3 > div:first-child > .image {
  width: 76%;
}
.card--3 > div:last-child {
  flex: 1;
}
.card--3 > div:last-child > a {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background: var(--color-gray-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
}
.card--3 > div:last-child > a > svg {
  width: 1rem;
  height: 1rem;
}
.card--3-gray {
  background: var(--color-gray);
  color: var(--color-text);
}
.card--3-vertical {
  flex-direction: column;
  background: var(--color-white);
  color: var(--color-dark);
  box-shadow: 0px 14px 43px 0px rgba(0, 0, 0, 0.1);
}
.card--3-vertical > div:first-child {
  width: 100%;
  background: var(--color-gray-dark);
}
.card--3-vertical .image__gradient {
  background: linear-gradient(325deg, rgba(28, 30, 69, 0.8) 0%, rgba(0, 0, 0, 0) 75%);
}
.card--3-team > div:first-child {
  position: relative;
  overflow: hidden;
}
.card--3-team .text-small {
  font-size: 0.9em;
}
.card--3-team .title-small {
  font-size: 1.25em;
}
.card--3-team svg.absolute {
  fill: var(--color-white);
  width: 210%;
  height: 210%;
  top: 100%;
  left: 95%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .card--3 .padding-all-medium {
    padding: var(--margin-default);
  }
  .card--3-team .text-small {
    font-size: 0.8em;
  }
  .card--3-team .title-small {
    font-size: 1.25em;
  }
  .card--3-team .margin-t-small {
    margin-top: 0.75rem;
  }
}
/* --------------------------------- *\

	Card 4

\* --------------------------------- */
.card--4 > .image {
  background: var(--color-white);
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .card--4 > .image {
    width: 100%;
    margin-bottom: 2rem;
  }
}
/* --------------------------------- *\

	Card view all >

\* --------------------------------- */
.card--view-all {
  background: var(--color-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--margin-medium);
}
.card--view-all > svg {
  width: 3rem;
  height: 3rem;
  fill: var(--color-dark);
}

.color-gray-bg .card--view-all {
  background: var(--color-gray-dark);
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .card--view-all {
    flex-direction: row;
  }
  .card--view-all .margin-b {
    margin-bottom: 0;
    margin-right: auto;
  }
}

/*# sourceMappingURL=--5-cards.css.map */
