/* --------------------------------- *\

	Image

\* --------------------------------- */
/* img container */
.image {
  position: relative;
  overflow: hidden;
  display: block;
}

/* absolute position */
.image.absolute {
  position: absolute;
}

/* image tag */
.image > img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  transition: opacity 1s ease 0s;
}

/* image is loaded */
.image > img.image__loaded {
  opacity: 1;
}

/* portrait */
.image > .image__portrait {
  width: 100%;
  height: auto;
}

/* landscape */
.image > .image__landscape {
  width: auto;
  height: 100%;
}

/* --------------------------------- *\

	Styles

\* --------------------------------- */
.image {
  border-radius: var(--border-radius);
}

.image--circle {
  border-radius: 50%;
}

.image__light-bg {
  background-image: url("../images/white.png");
  background-blend-mode: soft-light;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.75;
}

.image__gradient {
  background: var(--color-main);
  background: #1c1e45;
  background: linear-gradient(165deg, rgba(28, 30, 69, 0.8) 0%, rgba(0, 0, 0, 0) 75%);
}

.card--3-team .image__gradient {
  background: linear-gradient(65deg, rgba(28, 30, 69, 0.8) 0%, rgba(0, 0, 0, 0) 75%);
  transform: translateX(-15%);
}

.image__logo {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 6rem;
}
.image__logo > svg {
  width: 6rem;
  height: auto;
  display: block;
  fill: var(--color-darker);
  position: relative;
}
.image__logo > img {
  position: absolute;
  width: 70%;
  height: auto;
  display: block;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}
.image__logo--large {
  top: 4rem;
  left: 0;
  width: 10rem;
}
.image__logo--large > svg {
  width: 10rem;
}
.image__logo--large > img {
  left: 0.75rem;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .image__logo {
    width: 8rem;
  }
  .image__logo > svg {
    width: 8rem;
  }
  .image__logo > img {
    left: 0.75rem;
  }
}
/* --------------------------------- *\

	Sizes

\* --------------------------------- */
/* block image 100% width */
.image-block {
  display: block;
  width: 100%;
  height: auto;
}

.image--100 {
  width: 100%;
  height: 100%;
}

/* sizes */
.image--85:before,
.image--4-3:before,
.image--circle:before,
.image--sq:before {
  content: "";
  display: block;
  width: 100%;
  opacity: 0;
}

.image--16-9:before {
  padding-top: 56.25%;
}

.image--85:before {
  padding-top: 85%;
}

.image--4-3:before {
  padding-top: 75%;
}

.image--circle:before,
.image--sq:before {
  padding-top: 100%;
}

/*# sourceMappingURL=--6-images.css.map */
