/* --------------------------------- *\

	Footer

\* --------------------------------- */
.footer {
  background: var(--color-gray-darker);
}
.footer__title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__title img {
  width: 10rem;
  height: auto;
}
.footer__logo {
  width: 6rem;
  height: auto;
  display: block;
  fill: var(--color-main);
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social span {
  margin-right: 2rem;
}
.footer__social > a {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}
.footer__social > a + a {
  margin-left: 1rem;
}
.footer__social > a > svg {
  width: 100%;
  height: 100%;
  display: block;
  fill: var(--color-text);
}
.footer__makit {
  width: 8rem;
  height: auto;
  display: block;
  fill: var(--color-text);
}

@media (pointer: fine) {
  .footer__social > a:hover > svg {
    fill: var(--color-main);
  }
}
.copyright {
  background: var(--color-gray-dark);
  color: var(--color-main);
}
.copyright__content {
  display: flex;
}
.copyright__links {
  margin-left: auto;
}
.copyright__links > a {
  margin-left: 4rem;
}

a.footer__menu__active {
  color: var(--color-text);
  display: none;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .footer > .cols > .col:nth-child(1) .col:nth-child(1) {
    display: flex;
    align-items: flex-start;
  }
  .footer > .cols > .col:nth-child(1) .col:nth-child(1) .margin-b {
    margin-bottom: 0;
  }
  .footer .col:nth-child(2) {
    display: none;
  }
  .footer__logo {
    width: 12rem;
    margin-right: 4rem;
  }
  .footer__logo + div {
    flex: 1;
    font-size: 1.35rem;
    line-height: 1.85rem;
  }
  .footer__menu, .footer__social {
    display: none;
  }

  .copyright__content {
    flex-direction: column;
  }
  .copyright__links {
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .copyright__links > a {
    margin-left: 0;
    margin-top: 0;
  }
}

/*# sourceMappingURL=--8-2-footer.css.map */
