/* --------------------------------- *\

	Block with grapchic

\* --------------------------------- */
.block-bg-graphic {
  overflow: hidden;
}
.block-bg-graphic > svg {
  position: absolute;
  bottom: -7rem;
  right: -10rem;
  width: 40rem;
}
.block-bg-graphic--gray {
  background: var(--color-gray);
}
.block-bg-graphic--gray > svg {
  fill: var(--color-white);
}
.block-bg-graphic--gray-2 {
  background: var(--color-gray);
}
.block-bg-graphic--gray-2 > svg {
  fill: var(--color-gray-dark);
  opacity: 0.5;
}
.block-bg-graphic--gray-3 {
  background: var(--color-gray);
}
.block-bg-graphic--gray-3 > svg {
  fill: var(--color-gray-dark);
  opacity: 0.5;
}
.block-bg-graphic--gray-3 > svg:nth-child(1) {
  position: absolute;
  top: -17rem;
  left: -9rem;
  width: 30rem;
}
.block-bg-graphic--gray-3 > svg:nth-child(2) {
  position: absolute;
  top: -15rem;
  right: -9rem;
  width: 30rem;
}
.block-bg-graphic--white {
  background: var(--color-white);
}
.block-bg-graphic--white > svg {
  fill: var(--color-gray);
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .block-bg-graphic .col {
    padding-right: 0;
    padding-left: 0;
  }
  .block-bg-graphic .button {
    display: block;
  }
}
/* --------------------------------- *\

	Blcok with image

\* --------------------------------- */
.block-bg-image {
  position: relative;
}
.block-bg-image__bg {
  background-color: var(--color-dark);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.block-bg-image--dark {
  color: var(--color-white);
}
.block-bg-image--dark .block-bg-image__bg {
  background-image: url("../images/bg2.png");
}
.block-bg-image--contacts {
  color: var(--color-white);
}
.block-bg-image--contacts .block-bg-image__bg {
  background-image: url("../images/bg5.jpg");
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .block-bg-image {
    text-align: center;
    padding-top: var(--margin-medium);
    padding-bottom: var(--margin-medium);
  }
  .block-bg-image .button {
    display: block;
  }
}
/* --------------------------------- *\

	Block with image over top

\* --------------------------------- */
.block-image-over-top {
  padding-bottom: var(--margin-large);
}
.block-image-over-top .text {
  padding-top: calc(var(--margin-large) * 2);
}
.block-image-over-top > .absolute {
  height: calc(100% - var(--margin-large));
  top: var(--margin-large);
  background: var(--color-gray);
}

/* --------------------------------- *\

	Intro Simple

\* --------------------------------- */
.intro {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro--simple {
  padding: calc(var(--header-height) - 1rem) 0 4rem 0;
  min-height: 22rem;
  background-image: url("../images/bg4.jpg");
  color: var(--color-white);
}
.intro--simple .title > span > svg {
  fill: var(--color-comp);
}

/*# sourceMappingURL=--8-3-block.css.map */
