/* --------------------------------- *\

	Header

\* --------------------------------- */
.header {
  height: var(--header-height);
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
}
.header--bg {
  --header-height: 5rem;
  background: var(--color-dark);
}
.header--bg .button {
  background: var(--color-main);
}
.header--bg .button:hover {
  background: var(--color-main-hover);
}
.header--portfolio .button, .header--team .button, .header--contacts .button {
  background: var(--color-main);
}
.header--portfolio .button:hover, .header--team .button:hover, .header--contacts .button:hover {
  background: var(--color-main-hover);
}
.header__mobile {
  display: none;
  height: var(--header-height);
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
}

.header__content {
  height: var(--header-height);
  align-items: center;
  position: relative;
  display: flex;
}

/* --------------------------------- *\

	Logo

\* --------------------------------- */
.logo {
  height: var(--header-height);
  width: 7rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.logo svg {
  width: 7rem;
  height: auto;
  display: block;
  fill: var(--color-white);
}

.header--bg .logo, .header--bg .logo svg {
  width: 4rem;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .logo {
    width: 5rem;
  }
  .logo svg {
    width: 5rem;
  }

  .header--bg .logo, .header--bg .logo svg {
    width: 5rem;
  }
}
/* --------------------------------- *\

	Navigation

\* --------------------------------- */
.nav {
  display: flex;
  margin-left: 12rem;
  height: 100%;
}
.nav > div {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.nav > div + div {
  margin-left: 4rem;
}
.nav > div > span {
  display: none;
}
.nav a {
  text-decoration: none;
  position: relative;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--color-white);
  text-align: center;
}
.nav a:before {
  display: block;
  content: attr(data-title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav a.nav__active {
  font-weight: bold;
}

.header--bg .nav {
  margin-left: 9rem;
}

@media (pointer: fine) {
  a.nav__active,
.nav > div > a:hover {
    font-weight: bold;
  }
  a.nav__active + span,
.nav > div > a:hover + span {
    display: block;
    position: absolute;
    top: 0;
    left: -1rem;
    width: calc(100% + 2rem);
    overflow: hidden;
    height: 2rem;
  }
  a.nav__active + span:after,
.nav > div > a:hover + span:after {
    content: "";
    display: block;
    background: var(--color-main-light);
    height: 0.4rem;
    position: relative;
  }
  a.nav__active + span:before,
.nav > div > a:hover + span:before {
    content: "";
    display: block;
    background: var(--color-main);
    width: 0.4rem;
    height: 1.25rem;
    position: absolute;
    left: 0.25rem;
    top: -0.1rem;
    transform: rotate(-55deg);
  }
}
/* --------------------------------- *\

	Language menu

\* --------------------------------- */
.lang {
  margin-left: auto;
  display: flex;
  display: none;
}
.lang > div + div {
  margin-left: 0.6rem;
}
.lang > div + div:before {
  display: inline-block;
  color: var(--color-white);
  content: "/";
  margin-right: 0.6rem;
}
.lang a {
  color: var(--color-white);
  text-decoration: none;
}
.lang__active {
  border-bottom: 1px solid;
  padding-bottom: 0.35rem;
}

@media (pointer: fine) {
  .lang a:hover {
    border-bottom: 1px solid;
    padding-bottom: 0.35rem;
  }
}
/* --------------------------------- *\

	Mobile menu

\* --------------------------------- */
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .header--bg {
    --header-height: 7rem;
  }
  .header .nav, .header .lang, .header .button {
    display: none;
  }
  .header__mobile {
    display: flex;
  }

  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .header--open {
    background: var(--color-dark);
    width: 100%;
    height: 100%;
  }
  .header--open .nav {
    height: auto;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header--open .nav > div + div {
    margin-left: 0;
    margin-top: 3rem;
  }
  .header--open .nav a {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .header--open .lang {
    display: flex;
    display: none;
    justify-content: center;
    margin: 4rem 0;
    margin-left: 0;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .header--open .button {
    display: block;
    background: var(--color-main);
  }
}
/* --------------------------------- *\

	Hamburger

\* --------------------------------- */
.hamburger {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
}
.hamburger > span {
  display: block;
  width: 3rem;
  height: 1px;
  background: var(--color-white);
  position: absolute;
  top: 50%;
  right: 0;
  transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
}
.hamburger > span:nth-child(1) {
  transform: translateY(-0.8rem);
}
.hamburger > span:nth-child(3) {
  transform: translateY(0.8rem);
}
.hamburger > span:nth-child(2) {
  width: 2rem;
}
.hamburger > span:nth-child(3) {
  width: 2.6rem;
}
.hamburger.is-active > span {
  background: var(--color-main);
}
.hamburger.is-active > span:nth-child(1) {
  transform: translateY(0);
}
.hamburger.is-active > span:nth-child(3) {
  transform: translateY(0);
}

/*# sourceMappingURL=--8-1-header.css.map */
