/* --------------------------------- *\

	Home: Intro

\* --------------------------------- */
.home-intro {
  padding: var(--header-height) 0;
  display: flex;
  align-items: center;
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-intro h1 {
  color: var(--color-white);
}
.home-intro__logos {
  display: flex;
  align-items: center;
  width: 100%;
}
.home-intro__logos > div {
  flex: 1;
}
.home-intro__logos > div + div {
  margin-left: 2rem;
}
.home-intro__logos img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}
.home-intro__image {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(50% - var(--margin-medium));
}
.home-intro__footer {
  width: 50%;
  height: var(--header-height);
  background: var(--color-white);
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-right-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
}
.home-intro__footer > div {
  flex: 1;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home-intro__footer > div > a {
  border-bottom: 0.3rem solid var(--color-main);
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
  text-decoration: none;
}
.home-intro__footer > a {
  width: var(--header-height);
  height: var(--header-height);
  background: var(--color-comp);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-intro__footer > a > svg {
  width: 3rem;
  height: 3rem;
  fill: var(--color-dark);
}

@media (pointer: fine) {
  .home-intro__footer > a:hover > svg {
    opacity: 0.5;
  }

  .home-intro__footer > div > a:hover {
    border-bottom: 0.3rem solid var(--color-comp);
  }
}
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .home-intro .col:nth-child(2) {
    display: none;
  }
  .home-intro__image {
    position: static;
    width: 100%;
    margin-top: var(--margin-large);
  }
  .home-intro__footer {
    display: none;
  }
}
/* --------------------------------- *\

	Home: Austra

\* --------------------------------- */
.home-austra__logo {
  width: 20rem;
  height: auto;
  display: block;
  fill: var(--color-dark);
}

/* --------------------------------- *\

	Home: Know How

\* --------------------------------- */
.home-know-how {
  position: relative;
  padding-top: 8rem;
  background: var(--color-gray);
}
.home-know-how__bg {
  width: 100%;
  height: calc(100% - 8rem);
  position: absolute;
  top: 0;
  background-color: var(--color-dark);
  background-image: url("../images/bg2.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-know-how h2 {
  color: var(--color-white);
}
.home-know-how > .cols--4-mob-1 {
  margin-top: 8rem;
}
.home-know-how > .cols--4-mob-1 > .col {
  min-height: 16rem;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .home-know-how__bg {
    height: 33.65rem;
  }
  .home-know-how h2 {
    text-align: center;
  }
  .home-know-how > .cols--4-mob-1 {
    margin-top: 6rem;
  }
  .home-know-how .button {
    display: block;
  }
}
/* --------------------------------- *\

	Home: Presentation

\* --------------------------------- */
.home-presentation {
  background: var(--color-gray);
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .home-presentation .button {
    display: block;
  }
}

/*# sourceMappingURL=--9-1-home.css.map */
