/* --------------------------------- *\

	Contacts

\* --------------------------------- */
.contacts {
  display: flex;
}
.contacts__list {
  margin-top: 1rem;
  border-left: 2px solid var(--color-main-light);
  padding-left: 1rem;
}
.contacts__list.text-small {
  font-size: 0.9em;
}
.contacts__map {
  flex: 1;
  margin-left: var(--margin-default);
}
.contacts--footer {
  display: block;
  color: var(--color-white);
  background-color: var(--color-dark);
  background-image: url("../images/footer-contacts.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contacts--footer .cols h2 {
  color: var(--color-main-light);
}
.contacts__company > a {
  color: var(--color-main-light);
  text-decoration: underline;
}
.contacts__company > a:hover {
  text-decoration: none;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .contacts {
    flex-direction: column-reverse;
  }
  .contacts__text {
    width: var(--wrap-mobile);
    margin-right: auto;
    margin-left: auto;
  }
  .contacts__text .title-small {
    font-size: 1.25em;
  }
  .contacts__list {
    margin-top: 1.5rem;
    border-left: 2px solid var(--color-main-light);
    padding-left: 1.5rem;
  }
  .contacts__list.text-small {
    font-size: 1.15em;
  }
}
/* --------------------------------- *\

	Form

\* --------------------------------- */
.form {
  color: var(--color-text);
}
.form input,
.form textarea {
  background: var(--color-white);
  border-width: 0;
  border-style: solid;
  outline: 0;
  outline: none;
  filter: none;
  display: block;
  -webkit-appearance: none;
}
.form__row {
  position: relative;
}
.form__input > input {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  border-radius: var(--border-radius);
  padding-left: 6rem;
}
.form__input > textarea {
  width: 100%;
  height: 12rem;
  padding: 1rem;
  border-radius: var(--border-radius);
}
.form__label {
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
  line-height: 3rem;
  width: 5rem;
  text-align: center;
  background: var(--color-gray);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.form__error {
  color: var(--color-comp);
}

.form__input > input::-webkit-input-placeholder,
.form__input > textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
  opacity: 1;
}
.form__input > input::-moz-placeholder,
.form__input > textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  opacity: 1;
}
.form__input > input:-ms-input-placeholder,
.form__input > textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
  opacity: 1;
}
.form__input > input:-moz-placeholder,
.form__input > textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
  opacity: 1;
}
.form__input > input:focus::-webkit-input-placeholder,
.form__input > textarea:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: transparent;
  opacity: 0;
}
.form__input > input:focus::-moz-placeholder,
.form__input > textarea:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
  opacity: 0;
}
.form__input > input:focus:-ms-input-placeholder,
.form__input > textarea:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: transparent;
  opacity: 0;
}
.form__input > input:focus:-moz-placeholder,
.form__input > textarea:focus:-moz-placeholder {
  /* Firefox 18- */
  color: transparent;
  opacity: 0;
}

/*# sourceMappingURL=--9-4-contacts.css.map */
