/* --------------------------------- *\

	Porfolio

\* --------------------------------- */
.portfolio a {
  text-decoration: underline;
}
.portfolio a:hover {
  text-decoration: none;
}
.portfolio__logos {
  display: flex;
  align-items: center;
}
.portfolio__logos > img {
  height: 3rem;
  width: auto;
  margin-left: 2rem;
}
.portfolio--even > svg {
  left: -10rem;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .portfolio--even .cols--2 {
    flex-direction: column-reverse;
  }
  .portfolio--even .cols--2 > .col:nth-child(1) {
    margin-top: var(--margin);
  }
  .portfolio--even .cols--2 > .col:nth-child(2) {
    margin-top: 0;
  }
}

/*# sourceMappingURL=--9-3-portfolio.css.map */
