/* --------------------------------- *\

	Austra: Intro

\* --------------------------------- */
.austra-intro {
  padding: var(--header-height) 0;
  display: flex;
  align-items: center;
  background-image: url("../images/bg3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.austra-intro__logo {
  display: block;
  width: 24rem;
  height: auto;
}
.austra-intro__logo + div {
  background: var(--color-comp);
  font-size: 1rem;
  height: 2rem;
  line-height: 2rem;
  display: inline-flex;
  padding: 0 2rem;
}
.austra-intro__image > .button {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 20rem;
  transform: translateY(-50%);
}
.austra-intro h1 {
  color: var(--color-white);
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .austra-intro__image > .button {
    left: 13%;
    width: 18rem;
  }
}
/* --------------------------------- *\

	Austra: Tabs

\* --------------------------------- */
.austra-tabs__menu {
  background: var(--color-white);
  z-index: 10;
}
.austra-tabs__menu__active {
  background: var(--color-main);
  color: var(--color-white);
}
.austra-tabs__tab {
  visibility: hidden;
  position: absolute;
  z-index: -10000;
  height: 1px;
  overflow: hidden;
}
.austra-tabs__active {
  position: static;
  visibility: visible;
  height: auto;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .austra-tabs__menu .button {
    font-size: 0.85rem;
  }
  .austra-tabs__menu .margin-l {
    margin-left: 1rem;
  }
  .austra-tabs__tab[data-tab="3"] > div:nth-child(1) .text {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .austra-tabs__tab[data-tab="3"] > div:nth-child(1) > .absolute {
    height: calc(100% - 12rem);
    top: 12rem;
  }
}
/* --------------------------------- *\

	Module Tab

\* --------------------------------- */
.modules {
  padding: 4rem 0 2rem 0;
  box-shadow: 0px 14px 43px 0px rgba(0, 0, 0, 0.05);
  z-index: 9;
}
.modules__wrap {
  display: flex;
}
.modules__wrap > div {
  width: 6rem;
  padding: 0.5rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.modules__wrap > div.modules__active {
  border: 2px solid var(--color-comp);
  font-weight: bold;
}
.modules__wrap > div > img {
  display: block;
  width: auto;
  height: 2rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5rem;
}
.modules__wrap > div + div {
  margin-left: 1rem;
}

.modules-content > div {
  display: none;
}
.modules-content > div.modules-content__active {
  display: flex;
}

@media (pointer: fine) {
  .austra-tabs__menu .button:hover {
    background: var(--color-main);
    color: var(--color-white);
  }

  .modules__wrap > div:hover {
    border: 2px solid var(--color-comp);
    font-weight: bold;
  }
}
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .modules {
    padding: 1.5rem 0 2rem 0;
  }
  .modules__wrap {
    flex-wrap: wrap;
  }
  .modules__wrap > div {
    width: 5rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    font-size: 0.6rem;
    line-height: 1rem;
    border: 1px solid transparent;
  }
  .modules__wrap > div.modules__active {
    border: 1px solid var(--color-comp);
  }
  .modules__wrap > div + div {
    margin-left: 0;
  }

  .modules-content .padding-h-xlarge {
    padding-right: 0;
    padding-left: 0;
  }
}

/*# sourceMappingURL=--9-2-austra.css.map */
