<section class="section  block-bg-image  block-bg-image--contacts  relative  padding-v-xlarge" id="form">

	<div class="block-bg-image__bg  absolute"></div>
	
	<h2 class="text  title-default  text-strong  relative  text-center">
		{{form_title}}
	</h2>

	<div class="form  wrap  wrap--small  margin-t-large  relative">

		<form method="post" action="contacts#form">

			<div class="cols  cols--2">
				<div class="col">
					{{name}}
				</div>
				<div class="col">
					{{email}}
				</div>
			</div>

			<div class="margin-t-medium">
				{{text}}
			</div>

			<div class="text-center  margin-t-large">
				<button class="button  button--main  button--inline">
					{{submit}}
				</button>
			</div>

		</form>

	</div>

</section>