{{intro}}

<section class="section">
	<div class="contacts  wrap">
		<div class="contacts__text  padding-t-large  padding-b-medium">
			{{offices}}
		</div>
		<div class="contacts__map">
			<img class="image-block" src="uploads/pages/contacts-map.jpg" alt="" />
		</div>
	</div>
</section>

{{form}}