<section class="section  block-bg-image  block-bg-image--contacts  relative  padding-v-xlarge" id="form">

	<div class="block-bg-image__bg  absolute"></div>
	
	<h2 class="text  title-default  text-strong  relative  text-center  padding-v-xlarge">
		{{form_title}}
	</h2>
	
</section>