<div class="col">
	<h2 class="text  title-small  text-strong">{{name}}</h2>
	<div class="contacts__list  text  text-small  margin-b">
		{{company}}<div class="contacts__company">{{company}}</div>{{/company}}
		{{address}}<div class="margin-t-small">{{address}}</div>{{/address}}
		{{phone}}<div class="margin-t-small">{{phone}}</div>{{/phone}}
		{{email}}<div class="margin-t-small">
			<a href="mailto:{{email}}">{{email}}</a>
		</div>{{/email}}
	</div>
</div>