<!-- cookies -->
<div class="cookies  padding-v  padding-h-medium">
	
	<div class="text  text-small">
		{{text}} <a class="color-main-text" href="{{link}}">{{more}}</a>
	</div>

	<div class="cookies__buttons">
		<button onclick="cookiesAccept(this); return false;" class="button  button--inline  button--main  button--small">{{agree}}</button>
 	</div>

</div>

<!-- empty script tag to fix some content loading issues -->
<script> </script>
</body>
</html>