<footer class="footer  padding-v-large">
	
	<div class="cols  cols--2  wrap">

		<div class="col">
			
			<div class="cols  cols--2  text  text-small">

				<div class="col">
					<svg class="footer__logo  margin-b" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 77 34" xml:space="preserve"> <path d="M14,0.4L3.4,17l-0.1,0.1h10.9v1.5H0.6L11.2,2l0.1-0.1H2.8l2.1,3.2L4.1,6.6L0.1,0.5h0L0,0.4H14z M25.5,17.1h8.7 v1.5H24V0.4h10.2v1.5h-8.7v6.7h7.9V10h-7.9V17.1z M50,18.6V1.9h6.3V0.4H41.9v1.5h6.3v16.7H50z M0.7,23.8h1.6v9.5H0.7V23.8z M12.4,29.8l-5.9-6.2l-0.3,0.1v9.6h1.6v-6.1l6,6.3l0.2,0v-9.6h-1.6V29.8z M17.9,23.9c0.9-0.1,1.8-0.2,2.6-0.2c1.8,0,3.2,0.5,4.2,1.4 c0.5,0.4,0.8,0.9,1.1,1.5c0.3,0.6,0.4,1.2,0.4,1.9c0,0.7-0.1,1.3-0.3,1.9c-0.2,0.6-0.6,1.2-1.1,1.6c-0.9,0.9-2.3,1.4-4.1,1.4 c-0.7,0-1.6-0.1-2.7-0.2V23.9z M20.9,32c1.2,0,2.1-0.3,2.6-0.9h0c0.6-0.7,0.9-1.6,0.9-2.5c0-0.4-0.1-0.9-0.2-1.3 c-0.2-0.4-0.4-0.8-0.7-1.1c-0.6-0.6-1.5-0.9-2.7-0.9c-0.4,0-0.8,0-1.2,0.1v6.6C20,31.9,20.5,32,20.9,32z M35.5,29.6 c0,0.7-0.2,1.3-0.6,1.8c-0.4,0.4-1,0.6-1.6,0.6c-0.6,0-1.2-0.2-1.6-0.6c-0.4-0.5-0.6-1.2-0.6-1.8v-5.7h-1.6v5.9c0,1.2,0.3,2.2,1,2.8 c0.7,0.7,1.6,1,2.8,1c0.5,0,1,0,1.5-0.2c0.5-0.2,0.9-0.4,1.3-0.8c0.7-0.7,1-1.6,1-2.8v-5.9h-1.6V29.6z M42.6,27.1 c0.4,0.3,0.8,0.6,1.3,0.7v0c0.7,0.3,1.4,0.7,1.9,1.2c0.4,0.5,0.5,1,0.5,1.6c0,0.4-0.1,0.8-0.2,1.1c-0.1,0.3-0.4,0.7-0.6,0.9 c-0.6,0.6-1.4,0.8-2.3,0.8c-1.1,0-2.1-0.3-3-0.9l0.6-1.5c0.7,0.6,1.6,0.9,2.5,0.9c0.4,0,0.8-0.1,1.1-0.4c0.1-0.1,0.2-0.3,0.3-0.4 c0.1-0.2,0.1-0.3,0.1-0.5c0-0.2,0-0.3-0.1-0.5c-0.1-0.2-0.2-0.3-0.3-0.4c-0.4-0.4-0.9-0.6-1.4-0.8c-0.7-0.2-1.3-0.6-1.7-1.2 c-0.3-0.4-0.5-1-0.5-1.5c0-0.4,0.1-0.7,0.2-1c0.1-0.3,0.4-0.6,0.6-0.8c0.6-0.5,1.4-0.8,2.3-0.8c0.8,0,1.7,0.2,2.4,0.7l-0.5,1.4 c-0.5-0.4-1.2-0.7-1.9-0.7c-0.4,0-0.8,0.1-1.1,0.4c-0.1,0.1-0.2,0.2-0.3,0.4c-0.1,0.1-0.1,0.3-0.1,0.5c0,0.2,0,0.3,0.1,0.4 C42.4,26.8,42.5,27,42.6,27.1z M49,25.3h3v8h1.6v-8h3v-1.5H49V25.3z M66.2,26.7c0,0.6-0.2,1.2-0.5,1.6l0,0c-0.3,0.5-0.8,0.9-1.4,1.1 l2.5,3.8h-1.9l-2.1-3.4h-0.5c-0.1,0-0.2,0-0.3,0c-0.2,0-0.4,0-0.6,0v3.4h-1.6v-9.4c0.8-0.1,1.7-0.2,2.5-0.2c1.3,0,2.3,0.3,2.9,0.8 c0.3,0.3,0.6,0.6,0.7,1C66.1,25.9,66.2,26.3,66.2,26.7z M62.4,28.6c0.6,0,1.1-0.1,1.6-0.5v0c0.2-0.2,0.3-0.4,0.4-0.6 s0.1-0.5,0.1-0.7c0-0.2,0-0.4-0.1-0.6c-0.1-0.2-0.2-0.4-0.4-0.5c-0.4-0.3-0.9-0.5-1.4-0.4c-0.4,0-0.7,0-1.1,0.1v3.3 C61.7,28.6,62,28.6,62.4,28.6z M72.8,27.8l-2.3-4h-1.9l3.3,5.5v4h1.6v-4l3.3-5.5h-1.8L72.8,27.8z M75.2,18.5h-6.8l0.8-1.6h5 L68.7,4.8l-6.3,13.7h-1.8l8.1-17.9l8.1,17.9h-1.3H75.2z"/> </svg>
					<div class="margin-b">{{title}}</div>
					<div class="footer__menu">
						{{nav}}
					</div>
					<div class="footer__social  margin-t">
						<span class="text-strong">{{follow}}</span>
						<a href="https://www.youtube.com/channel/UCLrMM4pcJ6Nnj9WFaNh8btQ" target="_blank"><svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"> <path d="M7.28291 6.82562L10.889 8.8749L7.28291 10.9242V6.82562ZM17.177 2.20054V15.5341C17.177 16.5379 16.3626 17.3523 15.3588 17.3523H2.02524C1.02144 17.3523 0.207031 16.5379 0.207031 15.5341V2.20054C0.207031 1.19673 1.02144 0.382324 2.02524 0.382324H15.3588C16.3626 0.382324 17.177 1.19673 17.177 2.20054ZM15.5861 8.87868C15.5861 8.87868 15.5861 6.62107 15.2982 5.53772C15.1391 4.93922 14.6732 4.46952 14.0785 4.31042C13.0065 4.01875 8.69203 4.01875 8.69203 4.01875C8.69203 4.01875 4.37756 4.01875 3.30557 4.31042C2.71086 4.46952 2.24495 4.93922 2.08585 5.53772C1.79797 6.61728 1.79797 8.87868 1.79797 8.87868C1.79797 8.87868 1.79797 11.1363 2.08585 12.2197C2.24495 12.8181 2.71086 13.2689 3.30557 13.428C4.37756 13.7159 8.69203 13.7159 8.69203 13.7159C8.69203 13.7159 13.0065 13.7159 14.0785 13.4242C14.6732 13.2651 15.1391 12.8144 15.2982 12.2159C15.5861 11.1363 15.5861 8.87868 15.5861 8.87868Z" /> </svg></a>
						<a href="https://www.linkedin.com/company/26552416" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" xml:space="preserve"> <path d="M37,0H3C1.3,0,0,1.3,0,3v34c0,1.7,1.3,3,3,3h34c1.7,0,3-1.3,3-3V3C40,1.3,38.7,0,37,0z M11.8,33.8H5.4V14.5h6.4V33.8z M8.6,11.8L8.6,11.8C6.4,11.8,5,10.4,5,8.5c0-1.9,1.4-3.3,3.6-3.3c2.2,0,3.6,1.4,3.6,3.3C12.2,10.4,10.8,11.8,8.6,11.8z M35,33.8 h-6.4V23.5c0-2.6-0.9-4.4-3.3-4.4c-1.8,0-2.8,1.2-3.3,2.4c-0.2,0.4-0.2,1-0.2,1.6v10.8h-6.4V14.5h6.4v2.8c0,0,2.3-3.3,5.8-3.3 c4.2,0,7.4,2.8,7.4,8.7V33.8z"/> </svg></a>
					</div>
				</div>

				<div class="col">
					<div class="margin-b  text-strong">{{modules_title}}</div>
					<div class="footer__modules">
						{{modules}}
					</div>
				</div>

			</div>

		</div>

		<div class="col  footer__title">
			
			<div class="text  title-small  text-strong  padding-r-xlarge">
				{{makit}}
				<div class="margin-t">
					<a class="color-main-text" href="https://www.makit.lv/" target="_blank">
						<svg class="footer__makit" viewBox="0 0 138 35" xmlns="http://www.w3.org/2000/svg"> <path d="M128.719 10.8535H123.249V8.03589H137.289V10.8535H131.799V25.3436H128.719V10.8535ZM115.498 8.03589H118.541V25.3436H115.498V8.03589Z" /> <path d="M76.0989 25.3382L77.8291 21.2885H86.0142L87.7177 25.3382H90.9318L83.3627 8.03589H80.545L73.0081 25.3382H76.0989ZM81.9056 11.6678L84.8947 18.594H78.938L81.9056 11.6678Z" /> <path d="M60.0876 16.221L54.8219 8.03589H51.5811V25.3436H54.5701V12.9802L59.9858 21.0903H60.0876L65.5461 12.932V25.3436H68.5887V8.03589H65.3533L60.0876 16.221Z" /> <path d="M102.856 15.4764L110.05 8.03589H106.317L98.0832 16.7353V8.03589H95.0459V25.3436H98.0832V20.3243L100.778 17.5548L106.686 25.3436H110.372L102.856 15.4764Z" /> <path d="M0.15625 0.12915V15.7923H15.8194L0.15625 0.12915Z" /> <path d="M34.4395 0.12915L18.7764 15.7923H34.4395V0.12915Z" /> <path d="M0.15625 32.6768L7.12538 25.713L0.15625 18.7439V32.6768Z" /> <path d="M34.4394 18.7439L27.4702 25.713L34.4394 32.6768V18.7439Z" /> <path d="M0.15625 17.0137L7.98782 24.8452L15.8194 17.0137H0.15625Z" /> <path d="M18.7764 17.0137L26.6079 24.8452L34.4395 17.0137H18.7764Z" /> <path d="M17.296 17.272L8.85303 25.715L17.296 34.158L25.739 25.715L17.296 17.272Z" /> </svg>
					</a>
				</div>
			</div>

		</div>

	</div>

</footer>

<div class="copyright  padding-v">
	<div class="copyright__content  wrap  text  text-small">
		<div>{{copyright}}{{year}}.</div>
		<div class="copyright__links">
			<a href="{{privacy_link}}">{{privacy_text}}</a>
		</div>
	</div>
</div>