<header class="header  header--{{page}}">
	
	<div class="header__content  wrap">

		<div class="logo">
			<a href="{{home_url}}">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 77 34" xml:space="preserve"> <path d="M14,0.4L3.4,17l-0.1,0.1h10.9v1.5H0.6L11.2,2l0.1-0.1H2.8l2.1,3.2L4.1,6.6L0.1,0.5h0L0,0.4H14z M25.5,17.1h8.7 v1.5H24V0.4h10.2v1.5h-8.7v6.7h7.9V10h-7.9V17.1z M50,18.6V1.9h6.3V0.4H41.9v1.5h6.3v16.7H50z M0.7,23.8h1.6v9.5H0.7V23.8z M12.4,29.8l-5.9-6.2l-0.3,0.1v9.6h1.6v-6.1l6,6.3l0.2,0v-9.6h-1.6V29.8z M17.9,23.9c0.9-0.1,1.8-0.2,2.6-0.2c1.8,0,3.2,0.5,4.2,1.4 c0.5,0.4,0.8,0.9,1.1,1.5c0.3,0.6,0.4,1.2,0.4,1.9c0,0.7-0.1,1.3-0.3,1.9c-0.2,0.6-0.6,1.2-1.1,1.6c-0.9,0.9-2.3,1.4-4.1,1.4 c-0.7,0-1.6-0.1-2.7-0.2V23.9z M20.9,32c1.2,0,2.1-0.3,2.6-0.9h0c0.6-0.7,0.9-1.6,0.9-2.5c0-0.4-0.1-0.9-0.2-1.3 c-0.2-0.4-0.4-0.8-0.7-1.1c-0.6-0.6-1.5-0.9-2.7-0.9c-0.4,0-0.8,0-1.2,0.1v6.6C20,31.9,20.5,32,20.9,32z M35.5,29.6 c0,0.7-0.2,1.3-0.6,1.8c-0.4,0.4-1,0.6-1.6,0.6c-0.6,0-1.2-0.2-1.6-0.6c-0.4-0.5-0.6-1.2-0.6-1.8v-5.7h-1.6v5.9c0,1.2,0.3,2.2,1,2.8 c0.7,0.7,1.6,1,2.8,1c0.5,0,1,0,1.5-0.2c0.5-0.2,0.9-0.4,1.3-0.8c0.7-0.7,1-1.6,1-2.8v-5.9h-1.6V29.6z M42.6,27.1 c0.4,0.3,0.8,0.6,1.3,0.7v0c0.7,0.3,1.4,0.7,1.9,1.2c0.4,0.5,0.5,1,0.5,1.6c0,0.4-0.1,0.8-0.2,1.1c-0.1,0.3-0.4,0.7-0.6,0.9 c-0.6,0.6-1.4,0.8-2.3,0.8c-1.1,0-2.1-0.3-3-0.9l0.6-1.5c0.7,0.6,1.6,0.9,2.5,0.9c0.4,0,0.8-0.1,1.1-0.4c0.1-0.1,0.2-0.3,0.3-0.4 c0.1-0.2,0.1-0.3,0.1-0.5c0-0.2,0-0.3-0.1-0.5c-0.1-0.2-0.2-0.3-0.3-0.4c-0.4-0.4-0.9-0.6-1.4-0.8c-0.7-0.2-1.3-0.6-1.7-1.2 c-0.3-0.4-0.5-1-0.5-1.5c0-0.4,0.1-0.7,0.2-1c0.1-0.3,0.4-0.6,0.6-0.8c0.6-0.5,1.4-0.8,2.3-0.8c0.8,0,1.7,0.2,2.4,0.7l-0.5,1.4 c-0.5-0.4-1.2-0.7-1.9-0.7c-0.4,0-0.8,0.1-1.1,0.4c-0.1,0.1-0.2,0.2-0.3,0.4c-0.1,0.1-0.1,0.3-0.1,0.5c0,0.2,0,0.3,0.1,0.4 C42.4,26.8,42.5,27,42.6,27.1z M49,25.3h3v8h1.6v-8h3v-1.5H49V25.3z M66.2,26.7c0,0.6-0.2,1.2-0.5,1.6l0,0c-0.3,0.5-0.8,0.9-1.4,1.1 l2.5,3.8h-1.9l-2.1-3.4h-0.5c-0.1,0-0.2,0-0.3,0c-0.2,0-0.4,0-0.6,0v3.4h-1.6v-9.4c0.8-0.1,1.7-0.2,2.5-0.2c1.3,0,2.3,0.3,2.9,0.8 c0.3,0.3,0.6,0.6,0.7,1C66.1,25.9,66.2,26.3,66.2,26.7z M62.4,28.6c0.6,0,1.1-0.1,1.6-0.5v0c0.2-0.2,0.3-0.4,0.4-0.6 s0.1-0.5,0.1-0.7c0-0.2,0-0.4-0.1-0.6c-0.1-0.2-0.2-0.4-0.4-0.5c-0.4-0.3-0.9-0.5-1.4-0.4c-0.4,0-0.7,0-1.1,0.1v3.3 C61.7,28.6,62,28.6,62.4,28.6z M72.8,27.8l-2.3-4h-1.9l3.3,5.5v4h1.6v-4l3.3-5.5h-1.8L72.8,27.8z M75.2,18.5h-6.8l0.8-1.6h5 L68.7,4.8l-6.3,13.7h-1.8l8.1-17.9l8.1,17.9h-1.3H75.2z"/> </svg>
			</a>
		</div>

		<nav class="nav">{{nav}}</nav>

		<div class="lang">
			{{lang}}
		</div>

		<div class="header__mobile">
			<div class="hamburger" onclick="toggleMobileMenu(this); return false;">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

	</div>

</header>