<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

	<!-- default meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	<meta name="format-detection" content="telephone=no" />
	<base href="{{base}}/" />

	<!-- font -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png" />
	<link rel="manifest" href="assets/favicon/site.webmanifest" />
	<link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#00b2ae" />
	<link rel="shortcut icon" href="assets/favicon/favicon.ico" />
	<meta name="msapplication-TileColor" content="#00b2ae" />
	<meta name="msapplication-config" content="assets/favicon/browserconfig.xml" />
	<meta name="theme-color" content="#ffffff" />
	
	{{meta}}
	{{css}}
	{{js}}
</head>
<body>