<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" />
<html>
<head>
	<title>Zeta Industry</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
	<style type="text/css">
		body { font-family: 'Arial', sans-serif; margin: 0; padding: 0; color: #000; }
		p, h1, h2, h3, h4 { margin: 0; padding: 0; }
		@media (max-width: 666px) {
			table.inner-content-email-table { width: 90%; }
		}
	</style>
</head>
<body style="background: #ffffff; margin: 0; padding: 0;">

<table width="100%" border="0" cellspacing="0" cellpadding="0"
style="background: #ffffff; position: relative;" bgcolor="#ffffff">

	<tr><td height="40">&nbsp;</td></tr>
	<tr><td align="center">
		{{content}}
	</td></tr>

	<tr><td height="40">&nbsp;</td></tr>
	<tr><td align="center">
		<font style="font-size: 12px; line-height: 24px; color: #000"
		size="2" color="black">
			&copy; Zeta industry, Inc.
		</font>
	</td></tr>
	<tr><td height="40">&nbsp;</td></tr>

</table>

<img style="width: 300px; height: auto; position: absolute; top: -120px; left: 50%; margin-left: -300px; opacity: .1;" src="{{url}}/assets/images/bg-element-1.svg" />

</body>
</html>